.content-box {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

.dashboard .option {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #e7ebeb;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 12px 20px;
    margin-right: 3px;
    position: relative;
}

.dashboard .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    cursor: pointer;
}

.widget {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.widget:before, .widget:after {
    content: " ";
    display: table;
}

.tabs .nav-tabs {
    background-color: #1fae66;
    border-bottom: none;
}

    .tabs .nav-tabs > li {
        margin: 0;
        position: relative;
    }

        .tabs .nav-tabs > li.active > a, .tabs .nav-tabs > li.active > a:hover, .tabs .nav-tabs > li.active > a:focus {
            border: none;
            background: rgba(0,0,0,0.2);
            color: #FFF;
        }

        .tabs .nav-tabs > li > a {
            margin: 0;
            color: #FFF;
            border-left: 1px solid rgba(255,255,255,0.2) !important;
            border-right: 1px solid rgba(0,0,0,0.15) !important;
            border-top: none;
            border-bottom: none;
            line-height: auto;
            height: 36px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav li a {
    padding: 7px 15px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.vd_nav-width, .vd_container, .expand-menu, .menu, a, header, .vd_mega-menu > ul > li {
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.widget:after {
    clear: both;
}

.tabs .tab-content {
    background-color: #FFF;
    position: relative;
}

.pd-20 {
    padding: 20px !important;
}

.tr {
    top: 20px;
    right: 20px;
}

.no-top {
    top: 0;
}

.no-border {
    border: 0;
    background-color: #FFF;
}

.vd_info, .vd_info-menu {
    position: absolute;
}

.vd_bg-yellow {
    background-color: #f89c2c !important;
}

.vd_bg-green {
    background-color: #1fae66 !important;
}

.order-status {
    display: flex;
}

.btn-xs {
    font-size: 13px;
    padding: 8px 8px;
}

.vd_btn {
    float: right;
    color: #FFFFFF;
}

.append-icon {
    margin-right: 7px;
}

.mgtp-10 {
    margin-top: 10px !important;
}

.mgtp-30 {
    margin-top: 30px !important;
}

.mgbt-10 {
    margin-bottom: 10px !important;
}

.font-semibold {
    font-weight: 500;
}

.nav-tabs {
    box-shadow: 0 0 0 0;
    margin-left: 0;
}

.tabs .nav-tabs > li.active > a .menu-active, .tabs .nav-tabs > li.active > a:hover .menu-active, .tabs .nav-tabs > li.active > a:focus .menu-active {
    visibility: visible;
}

.tabs .nav-tabs > li > a .menu-active {
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    text-align: center;
    visibility: hidden;
    font-size: 16px;
}

.utilBoxDetails {
    background-color: #F9F9F8;
    border-radius: 10px;
    border: 1px solid #999;
}

.row-fluid:before {
    display: table;
    line-height: 0;
    content: "";
}

.row-fluid [class*=span]:first-child {
    margin-left: 0;
    width: 100%;
}

.editOrder .calendar-header {
    font-size: 20px;
    color: green;
    margin-bottom: 20px;
    margin-top: 0 !important;
}

.editOrder .car-selection-container {
    width: 100%;
    display: block;
    padding: 0 !important;
    border: 0;
}
@media(min-width: 992px) {
    .header-text {
    font-size: 22px;
    text-align: center;
    }
    .specl-15 {
        margin-left: 15px;
    }
}
@media(max-width: 991px) {
    .header-text {
    font-size: 18px;
        text-align: center;
        padding: 0
    }
    .specl-15 {
        margin-left: 10px;
    }
}
.header-text {
    line-height: 32px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 9px;
    font-family: 'Lato', sans-serif;
}
@media(max-width: 441px) {
 .dashboard-tab .tab-section .tab-pane {
     padding: 10px 12px !important;
    }
 .dashboard-tab .vd_btn {
     margin-top: 10px;
 }
}
