
<body>
    <div style="font-size:0;overflow-y:auto;max-height:0;line-height:0;padding:0;overflow:hidden;float:none;width:0;min-height:0;"></div>
    <table id="emailBody" border="0" cellspacing="0" cellpadding="0" style="width: 100%;border-collapse:collapse;border-spacing:0;padding-right:0;padding-bottom:0;padding-left:0;margin:0;padding-top:0;min-height:100%;width:100%;background-color:#EDEFF0;">
        <tbody>
            <tr>
                <td colspan="1" rowspan="1" style="padding:0;margin:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                <td colspan="1" rowspan="1" style="margin:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;border-spacing:0;border-collapse:collapse;padding-bottom:0;padding-top:16px;width:512px;padding-right:32px;color:#586778;padding-left:32px;padding:0;border-left:1px solid #EDEFF0;border-right:1px solid #EDEFF0;font-size:0;line-height:42px;background-color:#EDEFF0;">&nbsp;</td>
                <td colspan="1" rowspan="1" style="padding:0;margin:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
            </tr>
            <tr>
                <td align="center" colspan="1" rowspan="1" valign="top" style="margin:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;padding:0;width:100%;min-height:100%;background-color:#EDEFF0;">
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;padding:0;margin:0;border-collapse:collapse;border-spacing:0;width:100%;min-width:576px;">
                        <tbody>
                            <tr>
                                <td colspan="1" rowspan="1" style="padding:0;margin:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                                <td align="center" colspan="1" rowspan="1" style="border-collapse:collapse;margin:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;border-spacing:0;width:512px;padding:32px;background-color:#2c475d;border-left:1px solid #2c475d;border-right:1px solid #2c475d;border-bottom:6px solid #2FBE6D;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding-left:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;margin-left:0;padding-right:0;border-collapse:collapse;border-spacing:0;">
                                        <tbody>
                                            <tr>
                                                <td colspan="1" rowspan="1" style="border-collapse:collapse;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;margin-left:0;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-height:38px;text-align:center;font-weight:bold;color:#ffffff;font-size:0;">
                                                    <a shape="rect" style="font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;padding-top:0;padding-left:0;padding-right:0;display:inline-block;text-decoration:none;padding-bottom:0;min-height:38px;text-align:center;font-size:18px;font-weight:bold;line-height:0;color:#ffffff;">
                                                        <img src="https://www.milemates.com/assets/img/logo_side_white.png" style="padding-left:0;margin-left:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;margin-top:0;padding-right:0;text-decoration:none;line-height:100%;outline:none;border:none;display:block;vertical-align:top;min-height:38px;width:250px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                                <td colspan="1" rowspan="1" style="border-spacing:0;margin-top:0;margin-right:0;margin-bottom:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;margin-left:0;border-collapse:collapse;padding-bottom:0;width:512px;background-color:#ffffff;color:#586778;padding-right:32px;padding-left:32px;border-left:1px solid #D4DCE2;border-right:1px solid #D4DCE2;font-size:16px;line-height:24px;padding-top:24px;">
                                    Hello {user},
                                </td>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                                <td colspan="1" rowspan="1" style="border-spacing:0;margin-top:0;margin-right:0;margin-bottom:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;margin-left:0;border-collapse:collapse;padding-bottom:0;padding-top:16px;width:512px;background-color:#ffffff;color:#586778;padding-left:32px;padding-right:32px;border-left:1px solid #D4DCE2;border-right:1px solid #D4DCE2;line-height:24px;font-size:16px;">
                                    Thank you for booking your car servicing with Milemates<br />
                                    <p>Service Station {serviceCentreName} {contactnumber} ({centreArea}) will pick up your vehicle on {pickDate} at {pickTime}. Please find the Booking details below:</p>
                                    <a href="https://www.milemates.com/Dashboard#booking" style="font-size: 11px; color: rgb(102, 102, 102); text-decoration: underline; font: 16px Arial, sans-serif" target="_blank">View Your Order </a>
                                </td>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                                <td colspan="1" rowspan="1" style="border-spacing:0;margin-top:0;margin-right:0;margin-bottom:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;margin-left:0;border-collapse:collapse;padding-bottom:0;padding-top:16px;width:512px;background-color:#ffffff;color:#586778;padding-left:32px;padding-right:32px;border-left:1px solid #D4DCE2;border-right:1px solid #D4DCE2;line-height:24px;font-size:16px;">
                                    <p>Booking Id : {bookingId}</p>

                                    <p>Customer Name : {user}</p>

                                    <p>Mobile Number : {userPhoneNo}</p>

                                    <p>Vehicle Make and Model : {vehical}</p>

                                    <p>Servicing Package : {service}</p>

                                    <p>Pick Up Time: {pickTime}</p>

                                    <p>Drop Off time : {dropTime}</p>

                                    <p>Pick Up and Drop Off Address : {pickAdd}</p>

                                    <p>Price : {totalPrice}</p>

                                    <p>Payment Mode : {paymentMod}</p>
                                </td>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                                <td colspan="1" rowspan="1" style="border-spacing:0;margin-top:0;margin-right:0;margin-bottom:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;margin-left:0;border-collapse:collapse;padding-bottom:0;padding-top:16px;width:512px;background-color:#ffffff;color:#586778;padding-left:32px;padding-right:32px;border-left:1px solid #D4DCE2;border-right:1px solid #D4DCE2;line-height:24px;font-size:16px;">
                                    Thank you very much for choosing our company as your car servicing destination. We are humbled that you chose us and proud to have you as a valued client!
                                </td>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                                <td colspan="1" rowspan="1" style="border-spacing:0;margin-top:0;margin-right:0;margin-bottom:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;margin-left:0;border-collapse:collapse;padding-top:16px;width:512px;background-color:#ffffff;color:#586778;padding-bottom:16px;padding-left:32px;padding-right:32px;border-left:1px solid #D4DCE2;border-right:1px solid #D4DCE2;line-height:24px;font-size:16px;">
                                    <table style="padding-left:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;margin-left:0;padding-right:0;border-collapse:collapse;border-spacing:0;">
                                        <tbody>
                                            <tr>
                                                <td align="left" colspan="1" rowspan="1" valign="middle" style="padding-left:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;margin-left:0;padding-right:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;">
                                                    <img src="https://www.milemates.com/assets/img/favicon.png" width="4" height="4" style="padding-right:0;margin-top:0;text-decoration:none;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;outline:none;line-height:100%;width:80px;min-height:40px;margin-right:8px;">
                                                </td>
                                                <td align="left" colspan="1" rowspan="1" valign="middle" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;font-size:16px;line-height:24px;">
                                                    Cheers,
                                                    <br clear="none">
                                                    Team MileMates
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                                <td colspan="1" rowspan="1" style="margin-top:0;margin-right:0;margin-bottom:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;margin-left:0;border-spacing:0;border-collapse:collapse;padding-top:16px;width:512px;background-color:#ffffff;padding-right:32px;border-right:1px solid #D4DCE2;padding-left:32px;border-left:1px solid #D4DCE2;border-bottom:1px solid #D4DCE2;line-height:18px;font-size:14px;padding-bottom:24px;color:#a1a2a5;">

                                    Disclaimer:

                                    <p style="font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                        The statement mailed to you by MileMates is not an invoice for any tax or commercial purposes. The
                                        final invoice for the booking placed will be issued to you by Service Station {serviceCentreName}({centreArea}).
                                    </p>
                                    <p style="font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                        All applicable taxes and levies as appearing on the website/mobile application/email are being
                                        charged and determined by {serviceCentreName}({centreArea}) and as informed to MileMates at the time of
                                        listing or afterwards.
                                    </p>
                                    <p style="font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                        The service prices, applicable rates of taxes and the manner of levy of such taxes are solely
                                        determined by {serviceCentreName}({centreArea}) and MileMates has no involvement in the same. The
                                        service prices and their components may be subject to change at the discretion of {serviceCentreName}({centreArea}).
                                    </p>
                                    <p style="font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
                                        For complete details please refer to our <a href="https://www.milemates.com/Terms">Terms and conditions</a>
                                    </p>
                                    <p style="font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
                                        For order related details please refer to our <a href="https://www.milemates.com/OrderProcessingTerms">Order Processing T&C</a>
                                    </p>
                                </td>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                                <td colspan="1" rowspan="1" style="margin-top:0;margin-right:0;margin-bottom:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;margin-left:0;border-spacing:0;border-collapse:collapse;padding-top:16px;text-align:center;width:512px;background-color:#ffffff;padding-right:32px;border-right:1px solid #D4DCE2;padding-left:32px;border-left:1px solid #D4DCE2;border-bottom:1px solid #D4DCE2;line-height:18px;font-size:14px;padding-bottom:24px;color:#a1a2a5;">
                                    Need help? Contact us at <br clear="none">
                                    <span style="color:#2FBE6D;">+91-9890-778-343</span> or <span style="color:#2FBE6D;">care@milemates.com.</span>
                                </td>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                                <td colspan="1" rowspan="1" style="border-spacing:0;margin-top:0;margin-right:0;margin-bottom:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;padding-bottom:0;padding-left:0;padding-right:0;border-collapse:collapse;margin-left:0;padding-top:14px;text-align:center;font-size:12px;line-height:21px;width:544px;color:#7F8A97;background-color:#EDEFF0;">
                                    © 2016 MileMates Pvt. Ltd. All Rights Reserved.
                                    <br clear="none">
                                    A11/1202, Sunway, Megapolis, Hinjawadi Phase 3, Pune - 411057
                                </td>
                                <td colspan="1" rowspan="1" style="padding-right:0;margin-top:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;margin-left:0;border-collapse:collapse;border-spacing:0;font-family:Tahoma, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;min-width:16px;background-color:#EDEFF0;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <br clear="none"><br clear="none">
</body>