.ps-user-profile-small{
    color:#333;
    padding:47px 13px 0;
}

.fontChngRaleway{
    font: 700 14px Raleway;
}

.ps-user-profile-small span{
   font-size:18px;
   margin-top:10px;
   margin-right:10px;
   color:white;
}

.ps-user-profile-small img{
    width:40px;
    height:30px;
   margin-right:10px;   
}

.ps-dashboard-controls{
    float: right;
}

.ps-user-profile-nickname{
    padding-left: 10px;
}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background: no-repeat;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-size:cover;
}
.btn-default{
    padding:4px;
}
.yamm .nav > li > div {
    display:inline-flex; padding :50px 13px 5px;
}
.yamm .nav > li > div > a {
    padding-right:15px; position:relative; font: 700 12px Raleway; color: #FFF; text-transform: uppercase;  transition: all .3s ease-out;
}
.yamm  .dropdown-menu{
    margin-right:10px;
}



