.header .ps-user-profile-small{
    color:#333;
    padding:45px 13px 0;
    cursor: pointer;
}

.sticky .ps-user-profile-small{
    color:#333;
    padding:25px 13px 0;
    cursor: pointer;
}

.fontChngRaleway{
    font: 700 14px Raleway;
}

.ps-user-profile-small span {
    margin-right: 10px;
    color: white;
    padding-right: 15px;
    position: relative;
    font: 700 12px Raleway;
    text-transform: uppercase;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.ps-user-profile-small img{
    width:40px;
    height:40px;
   margin-right:10px; 
   background: no-repeat;
   background-size:cover;  
   border-radius: 150px;
   margin-top: -15px;
}

.drpdwnLogin {
    background-color: white !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    cursor:default;
}
.drpdwnLogin span{
    margin-right: 0;
    color: white;
    position: relative;
    font: normal;
    text-transform: none;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.ps-dashboard-controls{
    float: right;
}

.ps-user-profile-nickname{
    padding-left: 10px;
}

.btn-default{
    padding:4px;
}

.userDetailsDropdown
{
    width : 300px;
    height :150px;

}

.dropdown-menu :hover 
{
   background-color:white !important ;
}

.dropdown 
{
   padding-top: 10px;
}

.modal-left-half
{
    width:30%;
    float:left !important;
}

.modal-right-half
{
    width:70%;
    float:right !important;
}

