<div id="modalOverlay" class="modal fade in" role="dialog" style="z-index:9999" ng-show="show">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content subscribeModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Confirmation</h4>
            </div>
            <div class="modal-body collapse-content" id="container">

                <div class="subscriptionMessage" ng-if="!message">
                    Are you sure, you want to cancel this order?
                </div>
                <div class="subscriptionMessage" ng-if="message">
                    {{ message}}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-effect pull-right" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary btn-effect pull-right" data-dismiss="modal" ng-click="okayClick();" style="margin-right:15px">Yes</button>
            </div>
            <div class="modal-footer" ng-if="informational">
                <button type="button" class="btn btn-primary btn-effect pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>