<style>
    .admin .centre-list-header {
        font-size: 16px;
        font-weight: 700;
        font-family: robotMedium;
        padding: 30px 30px 10px;
        text-align: center;
    }

    .admin .centre-list-result {
        color: black;
        margin: 0 0 5px;
        font-size: 14px;
        font-family: robotoRegular;
        text-align: center;
      
    }

    .admin .centre-list-container {
         display: flex;
        align-items: center;
        display: -ms-flexbox;
        -ms-flex-pack: center;
          background: #f5f5f5;
      width: 100%;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 #fff;
        padding: 10px;
    }

        .admin .centre-list-container > div {
            display: flex;
        align-items: center;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        }

    .admin .centre-list-text {
        font-size: 20px;
        text-transform: uppercase;
        color: #4378c0;
    }

    .admin .centre-list-secondary-text {
        font-size: 13px;
    }

    .admin .col-sm-1 .fa {
        font-size: 20px;
        padding: 5px;
    }
    .admin .fa-cart-plus {
         color: greenyellow;
    }
     .admin .fa-money {
         color: #4378c0;
    }
</style>
<div ng-show="!displayOrderList && !showCentreData">
    <div class="row centre-list-header">
        <div class="col-sm-11">
            <div class="col-lg-4 text-left">
                Service Centre Name
            </div>
            <div class="col-lg-3">
                Owner Name
            </div>
            <div class="col-lg-2">
                Area
            </div>
            <div class="col-lg-3">
                Contact Details
            </div>
        </div>
        <div class="col-sm-1">
            Action
        </div>


    </div>

    <div>
        <div class="row centre-list-result" ng-repeat="centre in serviceCentreList">
            <div>
                <div class="centre-list-container">
                    <div class="col-sm-11 no-padding-right clickable" ng-click="changeView(centre,0)">
                        <div class="col-lg-4 text-left">
                            <div class="centre-list-text ">{{centre.name}},</div>
                            <div class="centre-list-secondary-text">
                                {{centre.address.line1}}
                                {{centre.address.line2}}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            {{centre.ownerName}}
                        </div>
                        <div class="col-lg-2">
                            {{centre.area}}
                        </div>
                        <div class="col-lg-3">
                            <div>{{centre.phoneNo}}</div>
                            <div>{{centre.email}}</div>
                        </div>
                    </div>
                    <div class="col-sm-1 no-padding-right">
                        <div class="clickable">
                            <div ng-click="changeView(centre.centreId,1)">
                                <i class="fa fa-cart-plus"></i>
                                <div> Order List</div>
                            </div>

                            <div ng-click="changeView(centre.centreId,2)">

                                <i class="fa fa-money" aria-hidden="true"></i>
                                <div> Price List</div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<div ng-if="displayOrderList">

    <div class="row">
        <div class="col-lg-5">
            <button type="button" class="btn btn-primary btn-effect" ng-click="toggleView()">Back to Centre List</button>
        </div>
    </div>

    <order-list orders="orderDetails"></order-list>
</div>
<div class="tab-pane fade in active" ng-show="showCentreData">
    <div class="row">
        <div class="col-lg-5">
            <button type="button" class="btn btn-primary btn-effect" ng-click="toggleCentreData()">Back</button>
        </div>
    </div>
    <add-centre-details></add-centre-details>
</div>