<style>
   .admin .centre-list-header {
         font-size: 16px;font-weight: 700;font-family: robotMedium;padding: 30px;text-align: center
     }
    .admin .centre-list-result {
        color: black;margin: 0 0 30px;font-size: 14px;font-family: robotoRegular;text-align: center
    }
    .admin .centre-list-container {
        display: flex;
        align-items: center;
        width: 100%;
        background: #f5f5f5;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 #fff;
        margin-bottom: 10px;
        padding: 20px;
    }
    .admin .centre-list-container > div {
        padding: 10px;
    }
    .admin .centre-list-text {
        font-size: 20px;text-transform: uppercase;
    }
    .admin .centre-list-secondary-text {
        font-size: 13px;
    }
</style>
<div ng-show="!displayOrderList">
    <div class="row centre-list-header">
        <div class="col-lg-3">
            Service Centre Name
        </div>
        <div class="col-lg-3">
            Owner Name
        </div>
        <div class="col-lg-3">
            Area
        </div>
        <div class="col-lg-3">
            Contact Deatils
        </div>
    </div>

    <div>
        <div class="row centre-list-result clickable" ng-repeat="centre in serviceCentreList" ng-click="changeView(centre.centreId)">
            <div class="centre-list-container">
                <div class="col-lg-3">
                    <div class="centre-list-text ">{{centre.name}},</div>
                    <div class="centre-list-secondary-text">
                        {{centre.address.line1}}
                        {{centre.address.line2}}
                    </div>
                </div>
                <div class="col-lg-3">
                    {{centre.owner}}
                </div>
                <div class="col-lg-3">
                    {{centre.email}}
                </div>
                <div class="col-lg-3">
                    <div>{{centre.phoneNo}}</div>
                    <div>{{centre.email}}</div>
                </div>
            </div>

        </div>
    </div>
</div>
<div ng-if="displayOrderList">

    <div class="row">
        <div class="col-lg-5">
            <button type="button" class="btn btn-primary btn-effect" ng-click="toggleView()">Back to Centre List</button>
        </div>
    </div>

        <order-list orders="orders"></order-list>
</div>