<style>
    .admin .order-list-header {
        font-size: 16px;
        font-weight: 700;
        font-family: robotMedium;
        padding: 30px 30px 10px;
    }   
    .admin .order-list-result {
        color: black;
        margin: 0 0 5px;
        font-size: 14px;
        font-family: robotoRegular;
    }

    .admin .order-list-container {
          display: flex;
        align-items: center;
         display: -ms-flexbox;
        -ms-flex-pack: center;
        width: 100%;
        background: #f5f5f5;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 #fff;
        padding: 20px;
    }

    .admin .order-list-container > div {
        padding: 10px;
    }

    .admin .order-list-text {
        font-size: 20px;
        text-transform: uppercase;    color: #4378c0;
    }

    .admin .order-list-secondary-text {
        font-size: 13px;
    }

    .admin .order-status-details {
        /*padding: 30px 14%;*/
        margin-top: 20px;
        width: 100%;
    }

    .admin .order-status-details .status {
       background: #ECECEC;
    display: inline-block;
    margin: 10px;
    min-width: 198px;
    min-height: 190px;
    text-align: center;
    padding: 35px 15px 15px;

    }

    .admin .order-status-details > div {
           width: 100%;
    text-align: center;
    }

    .admin .status .fa {
        font-size: 60px;
        margin-bottom: 10px;
    }

    .admin .order-status-details .fa-cog {
        color: goldenrod;
    }

    .admin .order-status-details .fa-check-circle {
        color: green;
    }
    .admin .order-status-details .fa-remove {
        color: red;
    }
    .admin .no-results {
        color: red;font-size: 14px;padding: 20px
    }
    .admin .results-count {
        font-size: 40px;
    }
     .admin .status-text {
        font-size: 20px;
    }
</style>
<div ng-if="!editOrder">
    <div class="order-status-details">
        <div>
            <div class="status">
                <i class="fa fa-cog"></i>
                <div class="results-count">{{orders.pendingOrderCount}} </div>
                <div class="status-text">Pending</div>
            </div>
            <div class="status">
                <i class="fa fa-check-circle"></i>
                <div class="results-count"> {{orders.successorderCount}}   </div>
                <div class="status-text">Completed</div>
            </div>

            <div class="status">
                <i class="fa fa-remove"></i>
                <div class="results-count"> {{orders.cancelOrderCount}}  </div>
                <div class="status-text">Cancelled</div>
            </div>

        </div>
    </div>
    <div ng-if="(orders.orderList ||[] ).length > 0">
        <div class="row order-list-header">
            <div class="col-lg-4 no-padding-right">
                Customer/Car Details
            </div>
            <div class="col-lg-3">
                Service Package
            </div>
            <div class="col-lg-2">
                Price
            </div>
            <div class="col-lg-3">
                Status
            </div>
        </div>

        <div class="row order-list-result clickable" ng-repeat="order in orders.orderList" ng-click="orderDetails(order.invoiceNo)">
            <div class="order-list-container">
                <div class="col-lg-4 no-padding-right">
                    <div class="order-list-text ">{{order.userDetails.firstName}}&nbsp;{{order.userDetails.lastName}}</div>
                    <div class="order-list-secondary-text">
                        {{order.userDetails.phoneNo}}
                    </div>
                    <div class="order-list-secondary-text">
                        {{order.selectedCar.brand}}-{{order.selectedCar.model}}-{{order.selectedCar.year}}-{{order.selectedCar.varient}}
                    </div>
                </div>
                <div class="col-lg-3" ng-repeat="service in order.selectedServices">
                    {{service.name}}
                </div>
                <div class="col-lg-2">
                    <div>
                        {{order.selectedCentre.totalMMPrice}}
                    </div>
                    <div>
                        {{order.paymentMode}}
                    </div>


                </div>
                <div class="col-lg-3">
                    <div>{{order.status}}</div>
                </div>
            </div>

        </div>
    </div>

    <div ng-if="(orders.orderList ||[] ).length == 0">

       <div class="no-results">   No Order Found</div>
       
    </div>
    </div>
</div>
<div ng-if="editOrder">
    <div class="row">
        <div class="col-lg-5">
            <button type="button" class="btn btn-primary btn-effect" ng-click="toggleView()">Back to order List</button>
        </div>
    </div>
    <edit-order-details active-order="order"></edit-order-details>
</div>