<div class="container service">
    <div class="row">
        <div class="col-xs-12">
            <div class="car-header car-selection-container">
                <div class="row">
                    <div class="col-xs-12">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="car-selection-flex-container">
                            <ul class="car-selection-flex-column" ng-repeat="cwh in centreWorkingHours">
                                <li class="dateHeader">
                                    {{cwh.day}}
                                </li>
                                <li>
                                    <span class="unavailableTime timeData" href="javascript:void(0);" x-apple-data-detectors="false" data-appointmenttime="07:00 AM">Early or Late Vehicle Drop-Off</span>
                                </li>
                                <li ng-click="selectTime(wh)"  ng-repeat="wh in cwh.WorkingHours" ng-if="wh.isAvailable">
                                    <span>{{ wh.time}}</span>
                                    <!--<i ng-if="wh.isSelected" class="fa fa-check"></i>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
