.car-header{
        background: #fff;
    border: 1px solid #e7ebeb;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    width: 100%;
    padding: 15px 20px;
    -webkit-transition: box-shadow, 0.6s;
    transition: box-shadow, 0.6s;
    position: relative;
}
.header-text {
    font-family: "proxima-nova",Avenir,"Helvetica-Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #363946;
}

.b-step {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 40px;
    border: 1px solid #E2E2E2;
    position: absolute;
    left: -50px;
    top: -7px;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    color: #4A5155;
}
.margin-top10{ margin-top:10px;}
.car-option {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #e7ebeb;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 12px 20px;
    margin-right: 3px;
    cursor: pointer;
    position: relative;
}
.car-option-active {
    background-color: #F7F7F7;
    box-shadow: none;
}
.car-selection-container {
    background-color: #F7F7F7;
    width: 100%;
    display: block;
    border: 1px solid #e7ebeb;
    padding: 20px 20px 50px 20px;
}
.car-selection-step-name {
    font-family: "proxima-nova",Avenir,"Helvetica-Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px !important;
    color: #373D51 !important;
    letter-spacing: 0.85px;
    line-height: 15px;
}
.car-selection-flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
}
.car-selection-container ul {
    list-style: none;
    padding: 0;
}
.car-selection-flex-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.btn-idk {
    position: absolute;
    bottom: -35px;
    right: 0;
    background: #fff;
    border: 1px solid #e7ebeb;
    border-radius: 3px;
    padding: 10px 15px;
    font-family: "proxima-nova",Avenir,"Helvetica-Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #6d7579;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.car-selection-container ul li {
    cursor: pointer;
    font-family: "proxima-nova",Avenir,"Helvetica-Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #666B7C;
    padding: 10px;
    position: relative;
    -webkit-transition: 0.3s;
    /* transition: 0.3s; */
}
.car-selection-container ul li:hover {
    color: #454545;
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.15);
    font-weight: 600;
}