<div class="row spacet-10 collapse-content">
    <div class="col-sm-12">
        <div class="select-service-box">
         <ul id="accordion">
             <li ng-repeat="job in commonServices | filter : searchedText:strict" class="panel row">
                 <div class="service-details pull-right" ng-click="showDetails(job.type); $event.stopPropagation();" ng-if="(job.type || []).length > 0">Details</div>
                 <i class="fa fa-check-circle" ng-class="job.selected ? 'selected' : ''" ng-click="addSelectedJob(job)"></i>
                 <!--<div class="col-xs-10">-->
                 <div class="panel-heading service-panel-color" ng-if="job.description" ng-class="(selectedJob ||[]).length > 0 ? 'col-xs-9': 'col-xs-10'">
                     <div class="panel-title">
                         <a data-toggle="collapse" data-parent="#accordion" data-target="#{{job.name | makeId}}"> <!--aria-expanded="{{ $index === 0 ? 'true': false}}">-->
                             {{job.name}}
                         </a>
                     </div>
                 </div>
                 <div id="{{job.name | makeId}}" class="panel-collapse collapse" ng-class="(selectedJob ||[]).length > 0 ? 'col-xs-9': 'col-xs-10'" ng-if="job.description">
                     <div class="panel-body">
                         {{job.description}}
                     </div>
                 </div>
                 <span class="top-padding10" ng-if="(job.description || []).length == 0" ng-class="(selectedJob ||[]).length > 0 ? 'col-xs-9': 'col-xs-10'">
                     {{job.name}}
                 </span>

             </li>
             <li  ng-if="(commonServices | filter : searchedText:strict).length == 0"  class="panel row">
                 <!--</div>-->
                 <span class="top-padding10 bottom-padding10 clickable col-xs-12" ng-click="changeView(); clearSearch();">
                     {{searchedText.name}} did not match any services. Click here to describe your service.
                 </span>

             </li>

            </ul>
        </div>
    </div>
</div>