<div class="featured-item">
    <div class="right-content">
        <h2>{{ centre.name }}</h2>
        <span class="rupee"><i class="fa fa-inr" style="padding-right:5px;"></i>{{ centre.totalPrice }}</span>
        <div class="light-line"></div>
        <p>{{ centre.address.line1 }},<br />{{ centre.address.line2 }}<br /><i class="fa fa-phone"></i>{{ centre.phoneNo }}</p>
        <div class="info-box clearfix">
            <strong class="rating">
                <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
            </strong>
            <div class="pull-right">
                <a data-ng-show="!centre.activeCentre" ng-click="selectedCentre(centre)" class="main-slider__btn btn-effect">
                    <span class="main-slider__btn_inner common-button-structure-inner">Show On Map</span>
                </a>
                <a data-ng-show="centre.activeCentre" ng-click="selectedCentre(centre)" class="main-slider__btn btn-effect">
                    <span class="main-slider__btn_inner common-button-structure-inner">Select Centre<i class="fa fa-chevron-right" style="padding-left:5px;"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>