<div class="featured-item">
    <div class="right-content">
        <h2>{{ centre.name }}</h2>
        <div class="pull-right price">
            <strike>{{centre.totalActualPrice}}</strike>
            <span class="rupee"><i class="fa fa-inr" style="padding-right:5px;">{{ centre.totalMMPrice }}</i></span>
        </div>
        <div class="light-line"></div>
        <span class="pull-right padding-top30" ng-show="centre.distance != 0"><i class="fa fa-map-o"></i>{{centre.distance}}KM</span>
        <p>{{ centre.address.line1 }},<br />{{ centre.address.line2 }}<br /><i class="fa fa-phone"></i>{{ centre.phoneNo }}</p>
        <div class="info-box clearfix">
            <strong class="rating">
                <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
            </strong>
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-effect" data-ng-show="!centre.activeCentre" ng-click="selectedCentre(centre)">Show On Map</button>
                <button type="button" class="btn btn-primary btn-effect" data-ng-show="centre.activeCentre" ng-click="selectedCentre(centre)">Select<i class="fa fa-chevron-right" style="padding-left:5px;"></i></button>
            </div>
            <div ng-if="centre.isFreePickUp && centre.distance != 0">
                Free Pick is up Available
            </div>
            <div ng-if="!centre.isFreePickUp">
                Free Pick is not up Available
            </div>
        </div>
    </div>
</div>