<div class="user-address">
    <form class="form-horizontal" name="addForm" novalidate="">
        <div class="row top-padding10">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="autocompleteTextBox"> Start typing your address</label>
                    <input class="form-control" id="autocompleteTextBox" placeholder="Start typing your address" type="text" />
                </div>
                <div class="form-group">
                    <label for="street_number" class="">ADDRESS LINE 1</label>
                    <input class="form-control" id="street_number" placeholder="address line 1" />
                    <br />
                    <label for="street_number" class="">ADDRESS LINE 2</label>
                    <input class="form-control" id="route" placeholder="address line 2" />
                </div>
                <div class="form-group col-xs-6">
                    <label for="administrative_area_level_2" class="">City</label>
                    <input class="form-control" id="administrative_area_level_2" placeholder="city" />
                </div>

                <div class="form-group col-xs-6">
                    <label for="administrative_area_level_1">State</label>
                    <input class="form-control" id="administrative_area_level_1" placeholder="state" />
                </div>
                <div class="form-group col-xs-6">
                    <label for="country">Country</label>
                    <input class="form-control" id="country" placeholder="country" />
                </div>

                <div class="form-group col-xs-6">
                    <label for="postal_code">
                        <span>Zip code</span>
                        <input class="form-control" id="postal_code" name="zipCode" placeholder="zip code" required />
                        <p class="text-danger" style="float: left;" ng-show="addForm.zipCode.$error.required">Required Field</p>
                    </label>
                </div>
                <div class="form-group">
                    <label for="FirstName"> First Name</label>
                    <input class="form-control" id="FirstName" name="fName" placeholder="first name" type="text"  ng-class="{'bckgrnd-clr': (addForm.fName.$error.pattern || addForm.fName.$dirty || addForm.fName.$error.minlength || addForm.fName.$error.maxlength),'bckgrnd-color-default' : (!addForm.fName.$error.pattern && !addForm.fName.$error.minlength && !addForm.fName.$error.maxlength && !addForm.fName.$error.required)}" ng-minlength="2" ng-maxlength="20" ng-pattern="/^[A-z][A-z]*$/" required />
                    <p class="text-danger" style="float: left;" ng-show="addForm.fName.$error.required && addForm.fName.$dirty">Required Field</p>
                    <p class="text-danger" style="float: left;" ng-show="!addForm.fName.$error.minLength && !addForm.fName.$error.maxLength && addForm.fName.$error.pattern && addName.fName.$dirty">Must start with a letter, and contain letters only.</p>
                    <p class="text-danger" style="float: left;" ng-show="!addName.fName.$error.required && (addForm.fName.$error.minlength || addForm.fName.$error.maxlength) && addForm.fName.$dirty">Must be between 2 and 20 characters.</p>

                </div>
                <div class="form-group">
                    <label for="LastName"> Last Name</label>
                    <input class="form-control" id="LastName" placeholder="last name" name="lName" type="text" />
                    <p class="text-danger" style="float: left;" ng-show="addForm.lName.$error.required && addForm.lName.$dirty">Required Field</p>
                    <p class="text-danger" style="float: left;" ng-show="!addName.lName.$error.minLength && !addForm.lName.$error.maxLength && addForm.lName.$error.pattern && addForm.lName.$dirty">Must start with a letter, and contain letters only.</p>
                    <p class="text-danger" style="float: left;" ng-show="!addForm.lName.$error.required && (addForm.lName.$error.minlength || addForm.lName.$error.maxlength) && addForm.lName.$dirty">Must be between 2 and 20 characters.</p>

                </div>
                <div class="form-group">
                    <label for="MobileNo"> Mobile No</label>
                    <input class="form-control" id="MobileNo" name="addmobile" placeholder="mobile no" type="text" />
                </div>

                <div class="form-group">
                    <label for="MobileNo">OTP Code</label>
                    <input type="password" class="form-control" id="addotp" name="addotp" ng-model="addotp" ng-disabled="addForm.addmobile.$invalid" ng-class="{'bckgrnd-clr': (addForm.rotp.$dirty || addForm.rotp.$error.minlength || addForm.rotp.$error.maxlength),'bckgrnd-color-default' : (!addForm.rotp.$error.minlength && !addForm.rotp.$error.maxlength && !addForm.rotp.$error.required)}" placeholder="Enter OTP code here" required ng-minlength="4" ng-maxlength="4" ng-pattern="/^([0-9]{4})$/">
                    <button type="button" id="reqotp_btn" style="width: 25%; float:right;" class="btn btn-block btn-info" style="{{again ? 'margin-left:43px;' : 'margin-left:75px;'}}" ng-disabled="addForm.rmobile.$invalid" ng-click="requestOtp(regMobile)">{{again ? 'Request OTP Again' : 'Request OTP'}}</button>
                </div>
                <div class="form-group">
                    <label for="Email"> Email Address</label>
                    <input class="form-control" id="Email" placeholder="email address" type="text" />
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="margin-top: 15px; margin-bottom: 15px;">
                        <div class="col-md-6">
                            <i class="fa fa-check-circle" ng-click="payNow = !payNow" ng-class="{selected : payNow}"></i>
                            <span>Pay Now</span>
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-check-circle" ng-click="payNow = !payNow" ng-class="{selected :!payNow}"></i>
                            <span>COD</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 col-md-offset-2">
                    <a ui-sref="service.centre" class="main-slider__btn btn-effect">
                        <span class="main-slider__btn_inner common-button-structure-inner">Back</span>
                    </a>
                    <a class="main-slider__btn btn-effect pull-right" ng-click="orderProcess()">
                        <span class="main-slider__btn_inner common-button-structure-inner">Submit Order</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div id="googleMap" class="address-map" ng-if="true"></div>
                <div class="col-xs-12 order-details">
                    <div class="header-text padding-top30">Your Order</div>
                    <table class="table">
                        <thead>
                            <tr scope="row">
                                <th class="col-xs-9">Vehicle Details</th>
                                <th class="text-right">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row">
                                <td>{{userSelectedService.selectedCar.brand}}-{{userSelectedService.selectedCar.model}}-{{userSelectedService.selectedCar.varient}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr scope="row">
                                <th class="col-xs-9">Service Details</th>
                                <th class="text-right">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row" ng-repeat="srv in userSelectedService.selectedServices">
                                <td>{{ srv.name}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr scope="row">
                                <th class="col-xs-9">Centre Details</th>
                                <th class="text-right">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row">
                                <td>Name</td>
                                <td>{{ userSelectedService.selectedCentre.name}}</td>
                            </tr>
                            <tr scope="row">
                                <td>Address</td>
                                <td>
                                    {{userSelectedService.selectedCentre.address.line1}}
                                    {{userSelectedService.selectedCentre.address.line2}}
                                </td>
                            </tr>
                            <tr scope="row">
                                <td>Contact No</td>
                                <td>
                                    {{userSelectedService.selectedCentre.phoneNo}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr scope="row">
                                <th class="col-xs-9">Appointment Details</th>
                                <th class="text-right">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row">
                                <td ng-if="userSelectedPickUp">Pick-up time</td>
                                <td ng-if="!userSelectedPickUp">Drop-time</td>
                                <td>
                                    {{userSelectedService.selectedAppointment.dropOffDate.day}}
                                    {{userSelectedService.selectedAppointment.dropOffDate.time}}
                                </td>
                            </tr>
                            <tr scope="row">
                                <td ng-if="userSelectedPickUp">Drop-time</td>
                                <td ng-if="!userSelectedPickUp">Pick-up time</td>
                                <td>
                                    {{userSelectedService.selectedAppointment.pickUpDate.day}}
                                    {{userSelectedService.selectedAppointment.pickUpDate.time}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
