<div class="user-address">
    <div class="row top-padding10">
        <div class="col-md-6">
            <div ng-show="userSelectedPickUp">
                <div class="form-group">
                    <label for="autocompleteTextBox"> Start typing your address</label>
                    <input class="form-control" id="formatted_address" placeholder="Start typing your address" type="text" />
                </div>
                <div class="form-group">
                    <label for="sublocality_level_2" class="">ADDRESS LINE 1</label>
                    <input class="form-control" id="sublocality_level_2" placeholder="address line 1" />
                    <br />
                    <label for="sublocality_level_1" class="">ADDRESS LINE 2</label>
                    <input class="form-control" id="sublocality_level_1" placeholder="address line 2" />
                </div>
                <div class="form-group col-xs-6">
                    <label for="administrative_area_level_2" class="">City</label>
                    <input class="form-control" id="administrative_area_level_2" placeholder="city" disabled="disabled" />
                </div>

                <div class="form-group col-xs-6">
                    <label for="administrative_area_level_1">State</label>
                    <input class="form-control" id="administrative_area_level_1" placeholder="state" disabled="disabled" />
                </div>
                <div class="form-group col-xs-6">
                    <label for="country">Country</label>
                    <input class="form-control" id="country" placeholder="country" disabled="disabled" />
                </div>

                <div class="form-group col-xs-6">
                    <label for="postal_code">Zip code</label>
                    <input class="form-control" id="postal_code" placeholder="zip code" disabled="disabled" />
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="FirstName"> First Name</label>
                    <input class="form-control" id="FirstName" name="firstName" placeholder="first name" type="text" ng-model="userSelectedService.userDetails.firstName" ng-class="{'bckgrnd-clr': (addressForm.firstName.$error.pattern || addressForm.firstName.$dirty || addressForm.firstName.$error.minlength || addressForm.firstName.$error.maxlength),'bckgrnd-color-default' : (!addressForm.firstName.$error.pattern && !addressForm.firstName.$error.minlength && !addressForm.firstName.$error.maxlength && !addressForm.firstName.$error.required)}" ng-minlength="2" ng-maxlength="20" ng-pattern="/^[A-z][A-z]*$/" required />
                </div>
                <div class="form-group">
                    <label for="LastName"> Last Name</label>
                    <input class="form-control" id="LastName" name="lastName" placeholder="last name" type="text" ng-model="userSelectedService.userDetails.lastName" ng-class="{'bckgrnd-clr': (addressForm.lastName.$error.pattern || addressForm.lastName.$dirty || addressForm.lastName.$error.minlength || addressForm.lastName.$error.maxlength),'bckgrnd-color-default' : (!addressForm.lastName.$error.pattern && !addressForm.lastName.$error.minlength && !addressForm.lastName.$error.maxlength && !addressForm.lastName.$error.required)}" ng-minlength="2" ng-maxlength="20" ng-pattern="/^[A-z][A-z]*$/" required />
                </div>
                <div class="form-group">
                    <label for="MobileNo"> Mobile No</label>
                    <input class="form-control" id="MobileNo" name="mobile" type="text" ng-model="userSelectedService.userDetails.phoneNo" ng-class="{'bckgrnd-clr': (addressForm.mobile.$error.pattern || addressForm.mobile.$dirty || addressForm.mobile.$error.minlength || addressForm.mobile.$error.maxlength),'bckgrnd-color-default' : (!addressForm.mobile.$error.pattern && !addressForm.mobile.$error.minlength && !addressForm.mobile.$error.maxlength && !addressForm.mobile.$error.required)}" placeholder="Mobile Number" required ng-minlength="10" ng-maxlength="10" ng-pattern="/^([\+([7-9][0-9]{9})$/" />
                    <!--ng-change="checkMobileNumber(userSelectedService.userDetails.phoneNo)"-->
                </div>

                <div class="form-group mobile_validation" ng-hide="addressForm.mobile.$invalid || !addressForm.mobile.$dirty">
                    <label for="MobileNo">OTP Code</label>
                    <input type="password" class="form-control" id="addressOtp" name="addressOtp" ng-model="addressOtp"  ng-class="{'bckgrnd-clr': (addressForm.addressOtp.$dirty || addressForm.addressOtp.$error.minlength || addressForm.addressOtp.$error.maxlength),'bckgrnd-color-default' : (!addressForm.addressOtp.$error.minlength && !addressForm.addressOtp.$error.maxlength && !addressForm.addressOtp.$error.required)}" placeholder="Enter OTP code here" required ng-minlength="4" ng-maxlength="4" ng-pattern="/^([0-9]{4})$/">
                    <button type="button" id="reqotp_btn" class="btn btn-block btn-info col-md-offset-9" style="width: 25%; text-align: center;" ng-click="requestOtp(regMobile)">{{again ? 'Request OTP Again' : 'Request OTP'}}</button>
                </div>
                <div class="form-group">
                    <label for="Email"> Email Address</label>
                    <input class="form-control" id="Email" name="email" placeholder="email address" type="text" ng-model="userSelectedService.userDetails.email" ng-class="{'bckgrnd-clr': (addressForm.email.$dirty || addressForm.email.$error.pattern) ,'bckgrnd-color-default' : (!addressForm.email.$error.email && !addressForm.email.$error.required && !addressForm.email.$error.pattern)} " ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" required />
                </div>
                <div class="form-group">
                    <div style="margin-top: 15px; margin-bottom: 15px; font-size: 16px;">
                        <div class="col-md-6">
                            <i class="fa fa-check-circle" ng-click="payNow = !payNow" ng-class="{selected : payNow}"></i>
                            <span>Pay Now</span>
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-check-circle" ng-click="payNow = !payNow" ng-class="{selected :!payNow}"></i>
                            <span>COD</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 col-md-offset-2">
                    <a ui-sref="service.centre" class="main-slider__btn btn-effect">
                        <span class="main-slider__btn_inner common-button-structure-inner"><i class="fa fa-chevron-left" style="padding-right:5px;"></i>Back</span>
                    </a>
                    <a class="main-slider__btn btn-effect pull-right" ng-click="orderProcess()">
                        <span class="main-slider__btn_inner common-button-structure-inner">Submit Order</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="googleMap" class="address-map" ng-show="userSelectedPickUp"></div>
            <div class="col-xs-12">
                <div class="header-text padding-top30">Your Order</div>
                <table class="table">
                    <thead>
                        <tr scope="row">
                            <th class="col-xs-9">Vehicle Details</th>
                            <th class="text-right">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">
                            <td>{{userSelectedService.selectedCar.brand}}-{{userSelectedService.selectedCar.model}}-{{userSelectedService.selectedCar.varient}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr scope="row">
                            <th class="col-xs-9">Service Details</th>
                            <th class="text-right">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" ng-repeat="srv in userSelectedService.selectedServices">
                            <td>{{ srv.name}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr scope="row">
                            <th class="col-xs-9">Centre Details</th>
                            <th class="text-right">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">
                            <td>Name</td>
                            <td>{{ userSelectedService.selectedCentre.name}}</td>
                        </tr>
                        <tr scope="row">
                            <td>Address</td>
                            <td>
                                {{userSelectedService.selectedCentre.address.line1}}
                                {{userSelectedService.selectedCentre.address.line2}}
                            </td>
                        </tr>
                        <tr scope="row">
                            <td>Contact No</td>
                            <td>
                                {{userSelectedService.selectedCentre.phoneNo}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr scope="row">
                            <th class="col-xs-9">Appointment Details</th>
                            <th class="text-right">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">
                            <td ng-if="userSelectedPickUp">Pick-up time</td>
                            <td ng-if="!userSelectedPickUp">Drop-time</td>
                            <td>
                                {{userSelectedService.selectedAppointment.dropOffDate.day}}
                                {{userSelectedService.selectedAppointment.dropOffDate.time}}
                            </td>
                        </tr>
                        <tr scope="row">
                            <td ng-if="userSelectedPickUp">Drop-time</td>
                            <td ng-if="!userSelectedPickUp">Pick-up time</td>
                            <td>
                                {{userSelectedService.selectedAppointment.pickUpDate.day}}
                                {{userSelectedService.selectedAppointment.pickUpDate.time}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
