<div class="popover fade top in" role="tooltip" ng-show="style.top" ng-style="style">
    <div class="arrow" style="left: 50%;"></div>
    <div class="popover-content"> Quotation will be shared after inspection of your car.</div>
</div>
<div class="centre-list mrgtop15" ng-show="!car.centre_selected">
    <div class="row">
        <div class="col-sm-6" style="padding-left: 10px">
            <div class="car-header" style="min-height: 280px">
                <div class="sorting">
                    <div class="sorting__inner">
                        <div class="sorting__item">
                            <span class="sorting__title" style="font-size: 14px">Select City</span>
                            <div class="select jelect">
                                <input ng-model="city" type="text" id="txtCity" class="jelect-input" ng-change="getServiceCentreArea()">
                                <div tabindex="0" role="button" class="jelect-current" id="cityDropDown">Select City</div>
                                <ul class="jelect-options" id="dropDownCity">
                                    <li class="jelect-option jelect-option_state_active">Select City</li>
                                    <li class="jelect-option" ng-repeat="city in centreDetails.cityList">{{city}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sorting__item">
                            <a ng-show="!centreDetails.userAddress.formattedAddress" ng-click="changeArea()">Select Your Location</a>
                            <a ng-show="centreDetails.userAddress.formattedAddress" ng-click="changeArea()">Change Your Location</a>
                        </div>
                    </div>
                    <div class="sorting__inner">
                        <div class="sorting__item" style="display: flex">
                            <div class="sorting__title" style="min-width: 96px; font-size: 14px">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Your Location
                            </div>
                            <div ng-bind="centreDetails.userAddress.formattedAddress" style="font-family: 'Montserrat', sans-serif; padding-top: 3px; font-weight: 700">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row car-header map-holder">
                <div id="mapholder" class="col-md-12" style="height: 250px">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6 " ng-show="centreDetails.selectedCentre.name || noCentreMatch || noServiceMatch || noAreaLocated" style="padding-left: 10px">
            <div class="car-header">
                <centre-details ng-if="centreDetails.selectedCentre.name" ng-show="area !='Select Area'" centre="centreDetails.selectedCentre" add="selectServiceCentre(dirCentre)" service-list="selectedService" open-info="openInformationPopup(eventInfo)" class="active"></centre-details>

                <div class="alert alert-danger" role="alert" ng-if="noCentreMatch">
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                    Currently No Service Centre Available in selected area.We will be servicing you soon.
                </div>
                <div class="alert alert-info" role="alert" ng-if="noServiceMatch">
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                    There is no service centre in your area who provides all the services that you have selected. Please modify your service request.
                </div>
                <div ng-if="centreDetails.selectedCentre.name" ng-show="area !='Select Area'">
                    <h4 class="header-text">Working Hours</h4>
                    <div class="accordion" id="workingHours" style="max-width: 300px">
                        <div class="accordion-group panel">
                            <!--<div class="accordion-heading row" data-toggle="collapse" data-parent="#" href="#workingHoursData">
                                <a class="header-text" data-toggle="collapse" data-parent="#" style="padding: 0px;">
                                    Expand/Collapse
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </div>-->
                            <div class="row panel-default font-semibold clickable" data-toggle="collapse" data-parent="#" href="#workingHoursData" ng-click="expand = !expand">
                                <div class="col-xs-2 no-padding-left">Today</div>
                                <div class="col-xs-10 no-padding-left">
                                    <span class="label label-danger" ng-if="!opneNow">Closed Now</span>
                                    <span class="label alert-success" ng-if="opneNow">Open Now</span>
                                    <span ng-show="expand"><i class="fa fa-minus icon-working-hour"></i></span>
                                    <span ng-show="!expand"><i class="fa fa-plus icon-working-hour"></i></span>
                                </div>

                            </div>

                            <div id="workingHoursData" class="collapsing row" aria-expanded="false">
                                <div ng-repeat="centreHours in centreWorkingHours" class="margin-top10 font-semibold">
                                    <div class="col-xs-2 no-padding-left">{{centreHours.day}}</div>
                                    <div class="col-xs-10 no-padding-left">
                                        <span ng-class="{'label label-info text-capitalize': centreHours.time ==='holiday'}">{{centreHours.time}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="list-container" ng-if="(centreDetails.selectedCentre.services || []).length >0" ng-show="area !='Select Area'">
                    <h4 class="header-text">Services</h4>
                    <div class="list-flex-container">
                        <ul class="list-flex-column">
                            <li ng-repeat="service in centreDetails.selectedCentre.services.slice(0,6)">{{ service }}</li>
                        </ul>
                        <ul class="list-flex-column">
                            <li ng-repeat="service in centreDetails.selectedCentre.services.slice(7,centreDetails.selectedCentre.services.length)">{{ service }}</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-sm-6" ng-if="(centreDetails.centreList || [] ).length > 0">
            <div class="row car-header map-holder">
                <div ng-if="centreDetails.recommendedCentre.name">
                    <h4 class="centre-list_first-title">Recommended Centre <i class="fa fa-star"></i></h4>
                    <div class="centre-list_first">
                        <centre-details centre="centreDetails.recommendedCentre" add="selectServiceCentre(dirCentre)" service-list="selectedService" open-info="openInformationPopup(eventInfo)" ng-class="centreDetails.recommendedCentre.name == centreDetails.selectedCentre.name ?'active' :'non-active'"></centre-details>
                    </div>
                </div>
                <div ng-if="(centreDetails.centreList || [] ).length > 1">
                    <h4 class="centre-list_other-title">Other centres nearby</h4>
                    <div class="centre-list_other">
                        <centre-details centre="centre" ng-repeat="centre in centreDetails.centreList" service-list="selectedService" add="selectServiceCentre(dirCentre)" open-info="openInformationPopup(eventInfo)" ng-if="centre != centreDetails.recommendedCentre" ng-class="centre.name == centreDetails.selectedCentre.name ?'active' :'non-active'"></centre-details>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-if="car.centre_selected">
            <div class="col-xs-12" ng-click="enable_step_3 && changeStep(3)" ng-class="{'clickable':enable_step_2}" style="border: 1px solid #e5e5e5">
                <div class="row step-data">
                        <div class="col-xs-12 col-sm-6" style="padding: 10px 0;">
                            <div style="font-size: 20px" class="col-xs-12">
                                <div>{{ centreDetails.selectedCentre.name }}</div>
                                <i class="fa fa-phone"></i> &nbsp;&nbsp;{{ centreDetails.selectedCentre.phoneNo }}
                            </div>
                            <div class="col-xs-12">
                                {{ centreDetails.selectedCentre.address.line1 }},<br />{{ centreDetails.selectedCentre.address.line2 }}
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6" style="padding: 10px 0;">
                            <div class="col-lg-6 col-xs-6">
                                <div ng-show="centreDetails.selectedCentre.isFreePickUp" style="font-size: 16px"> Free Pick-Up Available</div>
                                <div ng-show="!centreDetails.selectedCentre.isFreePickUp"> Free Pick-Up Not Available</div>
                            </div>
                            <div class="col-lg-6 col-xs-6" style="font-size: 20px">
                                <i class="fa fa-inr" style="padding-right: 3px;"></i>
                                <span ng-if="centreDetails.selectedCentre.totalActualPrice === 0">
                                    Pending Estimation
                                </span>
                                <span ng-if="centreDetails.selectedCentre.totalActualPrice !== 0">
                                    {{ centreDetails.selectedCentre.totalMMPrice }}
                                </span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div id="addressOverlay" class="modal fade" role="dialog" style="z-index:2000">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please select your address</h4>
            </div>
            <div class="modal-body collapse-content" id="container">
                <div style="position:absolute;z-index:1; width: 85%;">
                    <i class="fa fa-search" style="position:absolute;padding:5px;top:5px"></i>
                    <input class="form-control" style="padding:0 20px" id="users_formatted_address" placeholder="Start typing your address" type="text" ng-model="userSelectedService.userDetails.formattedAddress" />
                </div>
                <div id="userAddressMap" class="address-map" style="height:400px;"></div>
            </div>
            <div class="modal-footer" style="margin-top: 20px;">
                <div style="text-align: left; display: block;">
                    <div style="display: inline-block; float: right;">
                        <button type="button" class="btn btn-primary btn-effect" data-dismiss="modal" ng-click="selectUserLocation();">Select </button>
                        <button type="button" class="btn btn-primary btn-effect" data-dismiss="modal">cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--</div>-->
