

<body>
    <pre style="padding:0 20px 20px 20px;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
Hi {user},

Thanks for booking your car servicing with Milemates.<br/>
Service Station {serviceCentreName} ({centreArea}) will pick up your
vehicle on {pickDate} at {pickTime}.

Your Information:
{user}
{pickAdd}

Your order:
{service}

Payment Type: {paymentMod}

To follow up on your order, call Service Station {serviceCentreName}({centreArea}) at {centrePhoneNo}.

Disclaimer:
</pre>
<p style="font-size:13px;line-height:18px;font-family:Arial,sans-serif">
The statement mailed to you by MileMates is not an invoice for any tax or commercial purposes. The
final invoice for the booking placed will be issued to you by Service Station {serviceCentreName}({centreArea}.
</p>
<p style="font-size:13px;line-height:18px;font-family:Arial,sans-serif">
All applicable taxes and levies as appearing on the website/mobile application/ email are being
charged and determined by {serviceCentreName}({centreArea}) and as informed to Milemates at the time of
listing or afterwards.
</p>
<p style="font-size:13px;line-height:18px;font-family:Arial,sans-serif">
The menu prices, applicable rates of taxes and the manner of levy of such taxes are solely
determined by {serviceCentreName}({centreArea}) and MileMates has no involvement in the same. The
menu prices and their components may be subject to change at the discretion of {serviceCentreName}({centreArea}).
</p>
<p style="font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
For complete details please refer to our <a href="https://www.milemates.com/Terms">Terms and conditions</a>
</p>
</body>
