<body>
<table style="width:640px;color:rgb(51,51,51);margin:0 auto;border-collapse:collapse">
    <tbody>
    <tr>
        <td style="padding: 0 20px 20px 20px; vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
            <table style="width: 100%; border-collapse: collapse">
                <tbody>
                <tr>
                    <td style="vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
                        <table style="width: 100%; border-collapse: collapse">
                            <tbody>
                            <tr>
                                <td style="vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
                                    <h3 style="font-size: 18px; margin: 15px 0 0 0; font-weight: normal">Hello {user},</h3>
                                    <p style="margin: 0 0 4px 0; font: 12px/16px Arial, sans-serif">
                                        Thank you for booking your car servicing with Milemates<br/>
                                        Service Station {serviceCentreName} ({centreArea}) will pick up your
                                        vehicle on {pickDate} at {pickTime}.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif"> </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
                        <table style="border-collapse: collapse"></table>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
                        <table style="width: 100%; border-top: 3px solid rgb(45, 55, 65); border-collapse: collapse">
                            <tbody>
                            <tr>
                                <td style="font-size: 14px; padding: 11px 18px 18px 18px; width: 50%; vertical-align: top; line-height: 18px; font-family: Arial, sans-serif">
                                    <p style="margin: 2px 0 9px 0; font: 14px Arial, sans-serif"> <span style="font-size: 14px; color: rgb(102, 102, 102)">Pick Up date & time: </span><br> <b style="color: #009900">{pickDate} :: {pickTime}</b>
                                    </p>
                                    <a href="https://www.milemates.com/Dashboard#booking" style="font-size: 11px; color: rgb(102, 102, 102); text-decoration: underline; font: 12px/16px Arial, sans-serif" target="_blank">View Your Order </a>
                                </td>
                                <td style="font-size: 14px; padding: 11px 18px 18px 18px; width: 50%; vertical-align: top; line-height: 18px; font-family: Arial, sans-serif">
                                    <p style="margin: 2px 0 9px 0; font: 14px Arial, sans-serif">
                                        <span style="font-size: 14px;">
                                                        Your Address <br> <b>
                                                            {user}
                                                            <br> {pickAdd}
                                                        </b>
                                                        </span>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif"> </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid rgb(204, 204, 204); vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
                        <h3 style="font-size: 18px; color: rgb(204, 102, 0); margin: 15px 0 0 0; font-weight: normal">Order Details</h3> </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
                        <table style="width: 100%; border-collapse: collapse">
                            <tbody>
                            <tr>
                                <td style="vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif"> <span class="il">Order </span> # &nbsp;<a href="https://www.milemates.com/Dashboard#booking" target="_blank" style="text-decoration: none">{bookingId}</a> <br> <span style="font-size: 12px;"></span> </td>
                            </tr>
                            <tr>
                                {service}
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 20px 20px 20px; vertical-align: top; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
            <p>
                Disclaimer:
            </p>
            <p style="font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                The statement mailed to you by MileMates is not an invoice for any tax or commercial purposes. The
                final invoice for the booking placed will be issued to you by Service Station {serviceCentreName}({centreArea}.
            </p>
            <p style="font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                All applicable taxes and levies as appearing on the website/mobile application/ email are being
                charged and determined by {serviceCentreName}({centreArea}) and as informed to Milemates at the time of
                listing or afterwards.
            </p>
            <p style="font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                The menu prices, applicable rates of taxes and the manner of levy of such taxes are solely
                determined by {serviceCentreName}({centreArea}) and MileMates has no involvement in the same. The
                menu prices and their components may be subject to change at the discretion of {serviceCentreName}({centreArea}).
            </p>
            <p style="font-size: 13px; line-height: 18px; font-family: Arial, sans-serif">
                For complete details please refer to our <a href="https://www.milemates.com/Terms">Terms and conditions</a>
            </p>
        </td>

    </tr>
    </tbody>
</table>

</body>
