

<body>
    <pre>
New Booking with booking {bookingId} confirmed through MileMates for you service
    station {serviceCentreName}. Please find the Booking details below :
</pre>

    <p>Booking Id : {bookingId}</p>

    <p>Customer Name :{user}</p>

    <p>Mobile Number :{userPhoneNo}</p>

    <p>Vehicle Make and Model : {vehical}</p>

    <p>Servicing Package selected :</p>
    {service}

    <p>Pick Up Time: {pickTime}</p>

    <p>Pick Up Address : {pickAdd}</p>

    <p>Drop Off time : {dropTime}</p>

    <p>Drop off Address : {pickAdd}</p>

    <p>Payment : {paymentMod}</p>

    Please pick up the vehicle on time and complete all the formalities while pick up.

    Please wear the MileMates T-shirt while pick up.

    After initial check up, call MileMates at 8380911266 so that we can update the

    customer regarding service requirement.

    On completion of servicing please fill up the Job Card for future references.
</body>
