<body>
    <div>Hello {user}</div>

    <p>
        We noticed that you recently placed your first order with us and we are delighted to welcome you

        to the MileMates family!
    </p>
    <p>
        At MileMates, Customer Experience is the focus of everything we do and we are always looking for

        ways to improve. I just want to check in and make sure you have everything you need and make

        sure your experience with MileMates so far has been a pleasant one. If you&#39;ve had a less than

        satisfactory experience in any of our processes, we would be grateful to know so we can make

        sure they are addressed properly. Please let us know by replying to this email.

        Please don&#39;t forget that our customer support is available for you for day to day and technical

        issues 24/7 at https://www.milemates.com so don&#39;t hesitate to contact us should you have any

        questions. We are always glad to help!
    </p>

<p>
    Thank you very much for choosing our company as your car servicing destination. We are humbled<br />

    that you chose us and proud to have you as a valued client!
</p>

<div>Once again, welcome and enjoy your stay!</div>
<p> Gratefully Yours,<br/>

    MileMates Pvt Ltd.</p>
</body>