
<body>
    Hi,
    <br/>
    {user}
<p>
    Welcome Onboard! You have successfully registered on www.milemates.com.
    <br/>
    Happy Service! We are excited you are here!
    <br/>
    * Get Trusted, Best Service at Best Price for your Car Servicing, Repairing and more.
</p>
    <div> Your https://www.milemates.com account details :</div>

<div>
    Email ID : XXXX@gmail.com <br/>

    Password : XXXXXXX
</div>
    <p>
        To verify your email please visit the following link XXXXXXXXXXXXXXXXXX . If

        this link does not work, copy and paste it in browser.<br />

        Support Contact Number : XXXXXXXXXXXX<br />

        Support Email : https://www.milemates.com
    </p>
</body>
