<div id="sliderpro1" class="slider-pro main-slider">
    <div class="sp-slides">
        <div class="sp-slide">
            <img class="sp-image" src="assets/img/image-1.jpg"
                 data-src="assets/img/image-1.jpg"
                 data-retina="assets/img/image-1.jpg" alt="img" />

            <div class="item-wrap sp-layer  sp-padding" data-horizontal="100" data-vertical="300"
                 data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                <div class="main-slider__inner text-left">
                    <div class="custom-caption">
                        <a class="main-slider__btn btn-effect" href="javascript:void(0);"><span class="main-slider__btn_inner">the all new</span></a>
                        <div class="main-slider__title">2016 Acura ILX</div>
                        <div class="main-slider__subtitle">High Performance & Outstanding Technology Combined</div>
                        <div class="decor-1"></div>
                        <div class="main-slider__text">Starts from</div>
                        <div> <span class="main-slider__price">$35,290</span> <a class="main-slider__link" href="javascript:void(0);"><i class="icon fa fa-caret-right"></i></a> </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="sp-slide">
            <img class="sp-image" src="assets/img/image-2.jpg"
                 data-src="assets/img/image-2.jpg"
                 data-retina="assets/img/image-2.jpg" alt="img" />

            <div class="item-wrap sp-layer  sp-padding" data-horizontal="100" data-vertical="300"
                 data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                <div class="main-slider__inner text-left">
                    <div class="custom-caption">
                        <a class="main-slider__btn btn-effect" href="javascript:void(0);"><span class="main-slider__btn_inner">the all new</span></a>
                        <div class="main-slider__title">2016 Acura ILX</div>
                        <div class="main-slider__subtitle">High Performance & Outstanding Technology Combined</div>
                        <div class="decor-1"></div>
                        <div class="main-slider__text">Starts from</div>
                        <div> <span class="main-slider__price">$37,390</span> <a class="main-slider__link" href="javascript:void(0);"><i class="icon fa fa-caret-right"></i></a> </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="sp-slide">
            <img class="sp-image" src="assets/img/image-3.jpg"
                 data-src="assets/img/image-3.jpg"
                 data-retina="assets/img/image-3.jpg" alt="img" />

            <div class="item-wrap sp-layer  sp-padding" data-horizontal="100" data-vertical="300"
                 data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                <div class="main-slider__inner text-left">
                    <div class="custom-caption">
                        <a class="main-slider__btn btn-effect" href="javascript:void(0);"><span class="main-slider__btn_inner">the all new</span></a>
                        <div class="main-slider__title">2016 Acura ILX</div>
                        <div class="main-slider__subtitle">High Performance & Outstanding Technology Combined</div>
                        <div class="decor-1"></div>
                        <div class="main-slider__text">Starts from</div>
                        <div> <span class="main-slider__price">$37,390</span> <a class="main-slider__link" href="javascript:void(0);"><i class="icon fa fa-caret-right"></i></a> </div>
                    </div>
                </div>
            </div>


        </div>



    </div>
</div>


<!-- end main-slider -->

<section class="section_mod-a section-bg-2">
    <div class="bg-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="main-block text-center wow bounceInUp" data-wow-duration="2s">
                        <div class="main-block__label">welcome to</div>
                        <div class="decor-1 center-block"></div>
                        <h1 class="main-block__title"><strong>Mile Mates</strong>the ONLINE Car world</h1>
                        <div class="decor-2"><i class="icon fa fa-caret-down"></i></div>
                    </div>
                    <div class="wrap-link-img">
                        <ul class="link-img link-img_mod-a list-inline wow bounceInLeft" data-wow-duration="2s">
                            <li class="link-img__item">
                                <a class="link-img__link" href="javascript:void(0);">
                                    <img class="img-responsive" src="assets/media/link-img/1.png" height="250" width="170" alt="Foto">
                                    <div class="link-img__wrap-title"><span class="link-img__title">Choose Your Car</span></div>
                                </a>
                            </li>
                            <li class="link-img__item">
                                <a class="link-img__link" href="javascript:void(0);">
                                    <img class="img-responsive" src="assets/media/link-img/2.png" height="250" width="170" alt="Foto">
                                    <div class="link-img__wrap-title"><span class="link-img__title">Choose Your Service</span></div>
                                </a>
                            </li>
                        </ul>
                        <ul class="link-img link-img_mod-b list-inline wow bounceInRight" data-wow-duration="2s">
                            <li class="link-img__item">
                                <a class="link-img__link" href="javascript:void(0);">
                                    <img class="img-responsive" src="assets/media/link-img/3.png" height="250" width="170" alt="Foto">
                                    <div class="link-img__wrap-title"><span class="link-img__title">Choose Your Centre</span></div>
                                </a>
                            </li>
                            <li class="link-img__item">
                                <a class="link-img__link" href="javascript:void(0);">
                                    <img class="img-responsive" src="assets/media/link-img/4.png" height="250" width="170" alt="Foto">
                                    <div class="link-img__wrap-title"><span class="link-img__title">Book Appointment</span></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row" ng-repeat="mainFeature in mainFeatureList">
                <div class="col-sm-6 wow bounceInLeft" data-wow-duration="2s" data-wow-delay="1s">
                    <div ng-repeat="desc in mainFeature.desc">
                        <p>{{desc.text}}</p>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-sm-6 wow bounceInRight" data-wow-duration="2s" data-wow-delay="1s">
                    <h2 class="ui-title-inner">{{mainFeature.heading}}</h2>
                    <div class="decor-1"></div>
                    <div ng-repeat="desc in mainFeature.desc">
                        <ul class="list-unstyled" ng-repeat="listItem in desc.list">
                            <li> <i class="decor-3 fa fa-caret-right"></i>{{listItem.text}}</li>
                        </ul>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-xs-12">
                    <a class="brand-link text-center wow bounceInUp" data-wow-duration="2s" data-wow-delay="1s" href="javascript:void(0);">
                        <i class="icon fa fa-caret-right"></i>SEE LISTED VEHICLES<i class="icon fa fa-caret-left"></i><span class="br"></span>
                        <div class="decor-1 decor-1_mod-b"></div>
                    </a>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
</section>

<!-- end section_mod-a -->
