@media (min-width: 1200px) {
    .no-padding-top {
        padding-top: 0;
    }
}
@media (min-width: 1200px) {
    .section-heading {
        width: 60%;
        padding-top: 80px;
        padding-bottom: 30px;
    }
}
.no-padding-top {
    padding-top: 0;
}
.section-heading {
    width: 80%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 1200px) {
    .no-padding-bottom {
        padding-bottom: 0;
    }
}
@media (min-width: 1200px) {
    .section-detail {
        padding-bottom: 80px;
    }
}
.no-padding-bottom {
    padding-bottom: 0;
}
.section-detail {
    padding-bottom: 50px;
}
.tab-section > .row {
    margin-left: 0;
    margin-right: 0;
}
.tab-section > .row > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}
.tab li:hover .curve:after, .nav.nav-stacked > li.active > a:focus .curve:after, .nav.nav-stacked li a[aria-expanded="true"] .curve:after {
    border-color: #ff5252 transparent #ff5252 #ff5252;
}

.tab li span.curve:after {
    width: 0;
    height: 0;
    content: '';
    border-color: #eaecf2 transparent #eaecf2 #eaecf2;
    border-style: solid;
    border-width: 32px 12px;
    font-size: 0;
    line-height: 4;
    position: absolute;
    top: 0;
    right: -12px;
}
@media (min-width: 768px) {
    .tab-section .tab {
        border-right: 2px solid #3f51b5;
    }
}
.tab-section .tab {
    border-bottom: 2px solid #3f51b5;
}
@media (min-width: 1200px) {
    .nav li {
        font-family: montserrat-bold;
        font-size: 14px;
    }
}
.tab li {
    list-style: none;
    font-family: montserrat-regular;
    font-size: 14px;
    height: 63px;
    position: relative;
    background-color: #f8f8f8;
    margin-bottom: 1px;
}
.nav li {
    color: #fff;
    font-size: 13px;
}
.nav.nav-stacked > li > a {
    padding: 0;
    color: #000;
    line-height: 64px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: montserrat-regular;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
.tab li span.curve {
    padding: 0px 15px 0px 20px;
    margin-right: 22px;
    font-size: 30px;
    display: block;
    float: left;
    background-color: #eaecf2;
    position: relative;
}
@media (min-width: 1200px) {
    .nav li {
        font-family: montserrat-bold;
        font-size: 14px;
    }
}
.tab li a:hover, .nav.nav-stacked > li.active > a, .nav.nav-stacked > li.active > a:focus {
    color: #FFF;
    background-color: #3f51b5;
    outline: 0;
}
.tab li:hover .curve, .nav.nav-stacked > li.active > a:focus .curve, .nav.nav-stacked li a[aria-expanded="true"] .curve {
    background-color: #ff5252;
}
@media (min-width: 768px) {
    .tab-section .tab-content {
        margin-top: 0;
        margin-left: -2px;
        border-top: 0;
        border-left: 2px solid #3f51b5;
    }
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' url('~/assets/fonts/iconmoon/icomoonb355.eot');
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 @font-face {
        font-family: 'icomoon';
        src:url('~/assets/fonts/iconmoon/icomoonb355.eot');
        src:url('~/assets/fonts/iconmoon/icomoonb355.eot?#iefix') format('embedded-opentype'),
            url('~/assets/fonts/iconmoon/icomoon.woff') format('woff'),
            url('~/assets/fonts/iconmoon/icomoon.ttf') format('truetype'),
            url('~/assets/fonts/iconmoon/icomoon.svg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }
.tab-section .tab-content {
    background-color: #fbfbfb;
}

.tab-section .tab-pane {
    padding: 30px 40px;
}

.tab-section .tab-pane h4 {
    text-transform: uppercase;
    margin-bottom: 18px;
}


.tab-section .tab-pane p {
    margin-bottom: 40px;
}

.btn-secondary {
    background-color: #ff5252;
    color: white;
}
.btn-pri {
    background-color: #3f51b5;
    color: white;
}
.services-name li {
    padding-bottom: 30px;
}
ul.services-name {
    margin-bottom: 30px;
    font-size: 15px;
}
.services-name, .blog-info, .brand-carousel, .work-timing ul, .social-media ul, .gallery-options, .bottom-links, .facility-list ul, .recent-work-img, .archives ul, .post-meta, .comments-list, .comments-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.testimonials-section {
    position: relative;
    padding: 30px 0 0;
    background: url(../../assets/img/texture-map.png) center center no-repeat;
    background-color: #3d3d3d;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.testimonials-section .sec-title {
    border: none;
    color: #ffffff;
}

.sec-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.text-center {
    text-align: center;
}

.testimonials-section .sec-title h3 {
    display: inline-block;
    padding: 0 0 10px;
    border-bottom: 2px solid #fb4848;
}
.sec-title h3 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
}
.testimonials-section .testimonials-slider {
    position: relative;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: pan-Y;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.testimonials-section .column-carousel.three-column .owl-controls {
    position: relative;
    text-align: center;
    padding: 20px 0;
    top: 0;
}
.column-carousel .owl-controls {
    position: absolute;
    right: 0px;
    top: -60px;
}
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    display: block;
}
.testimonials-section .column-carousel.three-column .owl-nav {
    display: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: none repeat scroll 0 0 #d6d6d6;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.testimonials-section .column-carousel.three-column .owl-dots {
    display: block !important;
}
.column-carousel .owl-dots {
    display: none !important;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
}
.testimonials-section .testimonials-slider .slide-item {
    position: relative;
    margin: 50px 0 0 0;
    border: 1px solid #fb4848;
    background: #ffffff;
    text-align: center;
}
.testimonials-section .testimonials-slider .image-box {
    position: relative;
    width: 80px;
    height: 80px;
    margin: -40px auto 0;
    border-radius: 50%;
}
.testimonials-section .testimonials-slider .image-box img {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
}
.owl-carousel .owl-item img {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.testimonials-section .slide-text {
    position: relative;
    font-size: 14px;
    color: #565656;
    font-style: italic;
    line-height: 2em;
    padding: 20px;
}
p {
    position: relative;
}
.testimonials-section .slide-item h3 {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    margin: 0 5px 20px 0;
}
.testimonials-section .rating {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.testimonials-section .rating .star {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 16px;
    background: url(../../assets/img/star-icon.png) center center no-repeat;
}
.testimonials-section .column-carousel.three-column .owl-dot span {
    background: #909090;
}

.owl-theme .owl-dots .owl-dot span {
    background: none repeat scroll 0 0 #d6d6d6;
    border-radius: 30px;
    display: block;
    height: 10px;
    margin: 5px 7px;
    -moz-transition: opacity 200ms ease 0s;
    -o-transition: opacity 200ms ease 0s;
    -webkit-transition: opacity 200ms ease 0s;
    transition: opacity 200ms ease 0s;
    width: 10px;
}