@media (min-width: 1200px) {
    .no-padding-top {
        padding-top: 0;
    }
}
@media (min-width: 1200px) {
    .section-heading {
        width: 60%;
        padding-top: 80px;
        padding-bottom: 30px;
    }
}
.no-padding-top {
    padding-top: 0;
}
.section-heading {
    width: 80%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 1200px) {
    .no-padding-bottom {
        padding-bottom: 0;
    }
}
@media (min-width: 1200px) {
    .section-detail {
        padding-bottom: 80px;
    }
}
.no-padding-bottom {
    padding-bottom: 0;
}
 
 /*Brands new CSS*/
@media (min-width: 1200px) {
    .section-detail {
        padding-bottom: 80px;
    }
}
.brands-pad-section {
        padding-bottom: 50px;
    }

.brands-section {
    padding-left: 55px;
    padding-right: 55px;
    position: relative;
}

.brand-carousel .owl-controls{
    position : relative !important;
    padding-top : 10px;
}
.brand-carousel .owl-page span{
    border: 1px solid !important;
}

.brands-section .brands-controls .caro-prev {
    left: 0;
}
.brands-section .brands-controls .caro-prev, .brands-section .brands-controls .caro-next {
    margin-top: -18px;
    position: absolute;
    top: 50%;
}

.feedback-section {
    padding-left: 55px;
    padding-right: 55px;
    position: relative;
}

.feedback-section .feedback-controls .caro-prev {
    left: 0;
}
.feedback-section .feedback-controls .caro-prev, .feedback-section .feedback-controls .caro-next {
    margin-top: -18px;
    position: absolute;
    top: 50%;
}
.caro-prev:hover, .caro-next:hover {
    border-color: lightyellow !important;
    color: #3f51b5;
}
.caro-prev, .caro-next {
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    color: #777777;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
}

.brand-image img{
    width: 140px;
    height: 108px;
    border: 1px solid lightgray;
}

.brands-section .brands-controls .caro-next {
    right: 0;
}
.brands-section .brands-controls .caro-prev, .brands-section .brands-controls .caro-next {
    margin-top: -18px;
    position: absolute;
    top: 50%;
}

.feedback-section .feedback-controls .caro-next {
    right: 0;
}
.feedback-section .feedback-controls .caro-prev, .feedback-section .feedback-controls .caro-next {
    margin-top: -18px;
    position: absolute;
    top: 50%;
}


.caro-prev, .caro-next {
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    color: #777777;
    border: 2px solid #e74c46;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
}
.caro-prev:before {
    content: "\f104";
    font-family: fontawesome;
    font-size: 18px;
}
.caro-next:before {
    content: "\f105";
    font-family: fontawesome;
    font-size: 18px;
}

.tab-section > .row {
    margin-left: 0;
    margin-right: 0;
}
.tab-section > .row > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}
/*.tab li:hover .curve:after, .nav.nav-stacked > li.active > a:focus .curve:after, .nav.nav-stacked li a[aria-expanded="true"] .curve:after {
    border-color: #ff5252 transparent #ff5252 #ff5252;
}*/

.tab li span.curve:after {
    width: 0;
    height: 0;
    content: '';
    border-color: #eaecf2 transparent #eaecf2 #eaecf2;
    border-style: solid;
    border-width: 32px 12px;
    font-size: 0;
    line-height: 4;
    position: absolute;
    top: 0;
    right: -12px;
}
@media (min-width: 768px) {
    .tab-section .tab {
        border-right: 2px solid #3f51b5;
    }
}
.tab-section .tab {
    border-bottom: 2px solid #3f51b5;
}
@media (min-width: 1200px) {
    .nav li {
        font-family: montserrat-bold;
        font-size: 14px;
    }
}
.tab li {
    list-style: none;
    font-family: montserrat-regular;
    font-size: 14px;
    height: 63px;
    position: relative;
    background-color: #f8f8f8;
    margin-bottom: 1px;
}
.nav li {
    color: #fff;
    font-size: 13px;
}
.nav.nav-stacked > li > a {
    padding: 0;
    color: #000;
    line-height: 64px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: montserrat-regular;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
.tab li span.curve {
    padding: 0px 15px 0px 20px;
    margin-right: 22px;
    font-size: 30px;
    display: block;
    float: left;
    background-color: #eaecf2;
    position: relative;
}
@media (min-width: 1200px) {
    .nav li {
        font-family: montserrat-bold;
        font-size: 14px;
    }
}
.tab li a:hover, .nav.nav-stacked > li.active > a, .nav.nav-stacked > li.active > a:focus {
    color: #FFF;
    background-color: #3f51b5;
    outline: 0;
}
/*.tab li:hover .curve, .nav.nav-stacked > li.active > a:focus .curve, .nav.nav-stacked li a[aria-expanded="true"] .curve {
    background-color: #ff5252;
}*/
@media (min-width: 768px) {
    .tab-section .tab-content {
        margin-top: 0;
        margin-left: -2px;
        border-top: 0;
        border-left: 2px solid #3f51b5;
    }
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' url('~/assets/fonts/iconmoon/icomoonb355.eot');
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 @font-face {
        font-family: 'icomoon';
        src:url('~/assets/fonts/iconmoon/icomoonb355.eot');
        src:url('~/assets/fonts/iconmoon/icomoonb355.eot?#iefix') format('embedded-opentype'),
            url('~/assets/fonts/iconmoon/icomoon.woff') format('woff'),
            url('~/assets/fonts/iconmoon/icomoon.ttf') format('truetype'),
            url('~/assets/fonts/iconmoon/icomoon.svg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }
.tab-section .tab-content {
    background-color: #fbfbfb;
}

.tab-section .tab-pane {
    padding: 30px 40px;
}

.tab-section .tab-pane h4 {
    text-transform: uppercase;
    margin-bottom: 18px;
}


.tab-section .tab-pane p {
    margin-bottom: 40px;
}

.btn-secondary {
    background-color: #ff5252;
    color: white;
}
.btn-pri {
    background-color: #3f51b5;
    color: white;
}
.services-name li {
    padding-bottom: 30px;
}
ul.services-name {
    margin-bottom: 30px;
    font-size: 15px;
}
.services-name, .blog-info, .brand-carousel, .work-timing ul, .social-media ul, .gallery-options, .bottom-links, .facility-list ul, .recent-work-img, .archives ul, .post-meta, .comments-list, .comments-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.testimonials-section {
    position: relative;
    padding: 30px 0 0;
    background: url(../../assets/img/texture-map.png) center center no-repeat;
    background-color: #3d3d3d;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.testimonials-section .sec-title {
    border: none;
    color: #ffffff;
}

.sec-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.text-center {
    text-align: center;
}

.testimonials-section .sec-title h3 {
    display: inline-block;
    padding: 0 0 10px;
    border-bottom: 2px solid;
    color: white;
}
.sec-title h3 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
}
.testimonials-section .testimonials-slider {
    position: relative;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: pan-Y;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}


.testimonials-section .column-carousel.three-column .owl-controls {
    position: relative;
    text-align: center;
    padding: 20px 0;
    top: 0;
}
.column-carousel .owl-controls {
    position: absolute;
    right: 0px;
    top: -60px;
}
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    display: block;
}
.testimonials-section .column-carousel.three-column .owl-nav {
    display: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: none repeat scroll 0 0 #d6d6d6;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.testimonials-section .column-carousel.three-column .owl-dots {
    display: block !important;
}
.column-carousel .owl-dots {
    display: none !important;
}
.column-carousel .owl-item {
    width : 353px !important;
    padding: 0 15px 0 15px;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
}
.testimonials-section .testimonials-slider .slide-item {
    position: relative;
    margin: 50px 0 0 0;
    border: 1px solid;
    background: #ffffff;
    text-align: center;
}
.testimonials-section .testimonials-slider .image-box {
    position: relative;
    width: 80px;
    height: 80px;
    margin: -40px auto 0;
    border-radius: 50%;
}
.testimonials-section .testimonials-slider .image-box img {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
}
.owl-carousel .owl-item img {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.testimonials-section .slide-text {
    position: relative;
    font-size: 14px;
    color: #565656;
    font-style: italic;
    line-height: 2em;
    padding: 20px;
}
p {
    position: relative;
}
.testimonials-section .slide-item h3 {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    margin: 0 5px 20px 0;
}
.testimonials-section .rating {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.testimonials-section .rating .star {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 16px;
    background: url(../../assets/img/star-icon.png) center center no-repeat;
}
.testimonials-section .column-carousel.three-column .owl-dot span {
    background: #909090;
}

.owl-theme .owl-dots .owl-dot span {
    background: none repeat scroll 0 0 #d6d6d6;
    border-radius: 30px;
    display: block;
    height: 10px;
    margin: 5px 7px;
    -moz-transition: opacity 200ms ease 0s;
    -o-transition: opacity 200ms ease 0s;
    -webkit-transition: opacity 200ms ease 0s;
    transition: opacity 200ms ease 0s;
    width: 10px;
}
.ct-mediaSection {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.ct-mediaSection[data-type="video"] .ct-mediaSection-video {
    position: absolute;
    min-width: 100%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #222;
}
.ct-mediaSection video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
}
.ct-mediaSection[data-type="video"] .ct-u-displayTable {
    height: 100%;
    position: absolute;
    top: 0;
}
.ct-u-displayTable {
    display: table;
    width: 100%;
}

.ct-mediaSection .ct-mediaSection-inner {
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    display: table-cell;
}

.ct-newsletter {
    padding: 10px;
    padding-top: 20px;
    border-radius: 20px;
}
.ct-newsletter .form-control {
    background: transparent;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: none;
    border-right: 2px solid #e74c46;
    color: #fff;
    border-radius: 10px 0 0 10px;
    font-size: 2.857rem;
}
.ct-newsletter input::-webkit-input-placeholder {
color: white !important;
}
 
.ct-newsletter input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
.ct-newsletter input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
.ct-newsletter input:-ms-input-placeholder {  
color: white !important;  
}
.ct-newsletter .form-group {
    display: block;
}

.ct-newsletter .input-group {
    width: 100%;
}
@media (min-width: 768px) {
    .ct-newsletter .form-control.ct-newsletter-name {
        width: 35%;
    }
}
.ct-newsletter .form-control + .form-control {
    border-left: 2px solid #fff;
    border-left: 2px solid rgba(255, 255, 255, 0);
}
@media (min-width: 768px) {
    .ct-newsletter .ct-newsletter-button {
        width: 20%;
    }
}

.ct-newsletter .ct-newsletter-button {
    height: 42px;
    border-radius: 0 10px 10px 0;
    background: #fff;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    white-space: pre-wrap;
    text-align: center;
}
.btn, .ct-cart-checkout, .ct-cart-clear {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 0.85em 0.95em;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
}
.btn {
    box-shadow: none !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 0.85em 0.95em;
    line-height: 1;
    font-size: 1em;
    border-radius: 5px;
}
@media (min-width: 768px) {
    .ct-newsletter .form-control.ct-newsletter-email {
        width: 45%;
    }
}

/*highlight region css*/
.ct-sectionHeader {
    text-align: center;
}
.ct-u-paddingBottom70 {
    padding-bottom: 70px !important;
}
.ct-u-paddingTop60 {
    padding-top: 60px !important;
}
.ct-sectionHeader-title, .ct-sectionHeader-title * {
    font-weight: lighter;
}
.ct-sectionHeader-separator {
    margin-top: 6px;
    margin-bottom: 3px;
}

.ct-sectionHeader p {
    font-weight: bold;
    color: #aaa;
}
.ct-u-marginTop30 {
    margin-top: 30px !important;
}
.ct-iconBox {
    position: relative;
    margin-top: 0;
}
.ct-iconBox.ct-iconBox--type3 .media-right {
    padding-left: 18px;
}
.ct-u-paddingBottom90 {
    padding-bottom: 90px !important;
}

.ct-sectionHeader-title span, .ct-sectionHeader-title span {
    font-weight: 900;
}

.ct-sectionHeader-separator .minus:first-child {
    margin-right: -1px;
}
.ct-sectionHeader-separator .minus {
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background: #222;
    display: inline-block;
}

.ct-sectionHeader-separator .slash {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -3px;
    color: #222;
}

.ct-sectionHeader-separator .minus:last-child {
    margin-left: 1px;
}

.ct-iconBox .ct-iconBox-header.ct-u-hr {
    padding-bottom: 1.286em;
    margin-bottom: 1.143em;
}
.ct-u-hr.ct-u-hr--left, .ct-u-hr.ct-u-hr--right, .ct-u-hr.ct-u-hr--center, .ct-u-hr.ct-u-hr--wide {
    padding-bottom: 1.429rem;
    margin-bottom: 1.429rem;
    position: relative;
}
.ct-iconBox .ct-iconBox-header {
    font-weight: bold;
    text-transform: uppercase;
}
    .ct-iconBox .ct-iconBox-icon.ct-iconBox-icon--inverse i {
    border-color: #e74c46;
    color: #fff;
}
.ct-iconBox.ct-iconBox--type3 .ct-iconBox-icon i {
    width: 2em;
    height: 2em;
    border: 3px solid;
    border-radius: 50%;
    line-height: 1.95em;
    text-align: center;
}
.ct-iconBox .ct-iconBox-icon i {
    color: #e74c46;
}

.ct-u-paddingBottom90 p {
    
    color: #777;
    line-height: 1.86em;
    font-size: 14px;
    margin: 0 0 50px;
}


.ct-u-paddingBottom90 h6 {
    font-size: 14px;
    font-family: "Lato", sans-serif;color: inherit;
    margin: 0;
}

.ct-u-hr.ct-u-hr--right:after {
    right: 0;
}
.ct-u-hr.ct-u-hr--left:after, .ct-u-hr.ct-u-hr--right:after, .ct-u-hr.ct-u-hr--center:after, .ct-u-hr.ct-u-hr--wide:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 30px;
    background-color: #222;
}

.ct-iconBox-icon small{
    font-size : 100%;
}

.ct-u-hr.ct-u-hr--left:after {
    left: 0;
}
.ct-mediaSection[data-height="auto"] {
    display: block;
}

.ct-mediaSection[data-type="pattern"], .ct-mediaSection[data-type="color"] {
    background-repeat: repeat;
    display: table;
}
.ct-u-paddingBoth40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.water-sports .ct-callToAction.ct-callToAction--type2 {
    border-top: 0;
    border-left: 7px solid;
}
.water-sports .ct-callToAction {
    border-top: 7px solid #23c9b5;
}
@media (min-width: 768px) {
    .ct-callToAction.ct-callToAction--type2 {
        text-align: left;
    }
}
.ct-callToAction.ct-callToAction--type2 {
    border-top: 0;
    border-left: 7px solid;
}
.ct-callToAction {
    text-align: center;
    padding: 2.856em;
    border-top: 7px solid #e74c46;
}
.ct-shadow {
    position: relative;
    z-index: 1;
}
.ct-u-sectionGrayLighter {
    background-color: #f8f8f8;
}
.ct-u-displayTableVertical {
    height: 100%;
    width: 100%;
    display: table;
}
.ct-u-displayTableVertical .ct-u-displayTableCell {
    vertical-align: middle;
}
.ct-u-displayTableCell {
    display: table-cell;
}
.ct-callToAction.ct-callToAction--type2 .ct-callToAction-header {
    padding-bottom: 0.35em;
}
.ct-callToAction-header {
    padding-bottom: 0.85em;
    font-weight: bold;
}
.ct-callToAction.ct-callToAction--type2 p {
    margin-bottom: 0;
}
.ct-callToAction p {
    line-height: 1.8;
    font-size: 1.214em;
    margin-bottom: 1.8em;
}
@media (min-width: 768px) {
    .ct-callToAction.ct-callToAction--type2 .ct-callToAction-button {
        width: 1%;
        padding-left: 50px;
    }
}
.water-sports .btn-motive {
    background: #23c9b5;
}
.ct-callToAction .btn-lg {
    padding-left: 4.286em;
    padding-right: 4.286em;
}
.btn.btn-lg {
    padding: 1.588em 1.768em;
}
.btn-motive, .ct-cart-checkout, .ct-cart-clear {
    background: #e74c46;
    color: #fff;
    border: none;
}
.btn-motive {
    background: #e74c46;
}
.btn-motive span {
    color: #fff;
}
.btn span {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}
.ct-shadow:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    height: 40px;
    width: 100%;
    background: no-repeat center center;
}
.ct-shadow.ct-shadow--type1:after {
    background-image: url(../../assets/img/shadow_1.png);
}
.ct-u-paddingTop50 {
    padding-top: 50px !important;
}
.ct-phone {
    position: relative;
    z-index: 999;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
}
.ct-phone > img {
    z-index: 99;
    max-width: 100%;
}
.ct-phone > .ct-embed {
    padding-bottom: 40.35%;
}
.ct-phone > div {
    position: absolute;
    top: 8.5%;
    left: 14.1%;
    width: 71.35%;
    z-index: 0;
    border-radius: 2px;
}
.ct-embed i {
    width: 11.071rem;
    height: 11.071rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5.536rem;
    margin-left: -5.536rem;
    border: 0.629rem solid #fff;
    border: 0.929rem solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    line-height: 9rem;
    color: #fff;
    color: rgba(255, 255, 255, 0.6);
    font-size: 5rem;
    text-align: center;
    z-index: 2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.ct-embed img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.ct-u-paddingBottom50 {
    padding-bottom: 50px !important;
}