<div id="wrapper">
    <div class="block-title">
        <div class="block-title__inner section-bg section-bg_second">
            <div class="bg-inner">
                <div class="decor-1-header center-block"></div>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Terms Of Use</li>
                </ol>
            </div><!-- end bg-inner -->
        </div><!-- end block-title__inner -->
    </div><!-- end block-title -->
</div>
<div class="section_default section_mod-e section-bg-2 wow bounceInRight" data-wow-duration="2s">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-heading no-padding-top">
                        <h2>Terms of Use</h2>
                        <div class="ui-subtitle-block_mod-b">This website is owned and operated by MILEMATES.com. This Terms and services apply to the universal version of the site located at www.MILEMATES.com , and any information related to our website accessible through newspaper, broadcast, affiliates and other distribution partners. By using the Site, you hereby agree that you are at least eighteen (18) years of age and bound by all of the following provisions of these Terms of Service. <a href="https://localhost:44380/PrivacyPolicy" style="color:blue;">Click here</a> to review the Site's Privacy Statement.</div>
                    </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row" style="padding-top: 50px;">
                <div class="col-md-12" ng-repeat="terms in termsList">
                    <h3 class="ui-title-inner"><i class="decor-3 fa fa-caret-right"></i>{{terms.heading}}</h3>
                    <div class="decor-1 decor-1_mod-c"></div>
                    <div ng-repeat="desc in terms.desc">
                        <p>{{desc.text}}</p>
                        <ul ng-repeat="listItem in desc.list">
                            <li>{{listItem.text}}</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end section_mod-d -->
</div>
<!-- end section_default -->