<h3>New Topic</h3>
<wait-cursor display-when="vm.isBusy"></wait-cursor>
<form name="newTopicForm" novalidate ng-submit="save()">
    <fieldset class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label for="title" class="col-md-1">Title</label>
                <div class="col-md-4">
                    <input id="title" name="title" class="form-control" type="text" ng-model="newTopic.title" required ng-minlength="5" />
                </div>
                <span class="text-danger" ng-show="newTopicForm.title.$error.required">*</span>
                <span class="text-danger" ng-show="newTopicForm.title.$error.minlength">Must be five characters or more</span>
            </div>
            <div class="form-group col-md-12">
                <label for="body" class="col-md-1">Body</label>
                <div class="col-md-4">
                    <textarea id="body" name="body" type="text" class="form-control" rows="5" cols="30" ng-model="newTopic.body" required ng-minlength="15" />
                </div>
                <span class="text-danger" ng-show="newTopicForm.body.$error.required">*</span>
                <span class="text-danger" ng-show="newTopicForm.body.$error.minlength">Must be fifteen characters or more</span>
            </div>
            <div class="form-group col-md-12 col-md-offset-1" style="padding-left: 30px;">
                <input type="submit" class="btn btn-primary" value="Save" style="margin-top: 30px;" ng-disabled="newTopicForm.$invalid" />
                <a href="#/" class="btn btn-primary" style="margin-top: 30px;margin-left: 30px;">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>