<a href="#/" class="btn btn-primary">Back</a>
<wait-cursor display-when="vm.isBusy"></wait-cursor>
<div class="messages">
    <div class="message row">
        <div class="title col-md-9">{{topic.title}}</div>
        <div class="date col-md-3">{{topic.created | date:"medium" }}</div>
        <div class="contents col-md-12">{{topic.body}}</div>
        <div class="replies col-md-12">
            <div class="reply" ng-repeat="r in topic.replies">
                <div class="created pull-right">{{r.created | date:"medium"}}</div>
                <div class="content">{{r.body}}</div>
            </div>
        </div>
    </div>
    <h3>Add Reply</h3>
    <form name="newReplyForm" novalidate ng-submit="addReply()">
        <fieldset class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <label for="body" class="col-md-1">Body</label>
                    <div class="col-md-4">
                        <textarea id="body" name="body" type="text" class="form-control" rows="5" cols="30" ng-model="newReply.body" required ng-minlength="15" />
                    </div>
                    <span class="text-danger" ng-show="newReplyForm.body.$error.required">*</span>
                    <span class="text-danger" ng-show="newReplyForm.body.$error.minlength">Must be fifteen characters or more</span>
                </div>
                <div class="form-group col-md-12 col-md-offset-1" style="padding-left: 30px;">
                    <input type="submit" class="btn btn-primary" value="Save" style="margin-top: 30px;" ng-disabled="newReplyForm.$invalid" />
                </div>
            </div>
        </fieldset>
    </form>
</div>