<div>
    <div class="message-header">
        <h1>Message Board</h1>
        <p class="lead">Latest Messages...</p>
        Message Count: {{data.topics.length}}
    </div>

    <div><a href="#/newMessage">Add New Message</a></div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <div class="messages">
        <div class="row" ng-repeat="i in data.topics">
            <div class="col-md-1 votingWidget">
                <div class="votingButton" ng-click="upvote()">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                </div>
                <div class="badge">
                    <div>{{i.id}}</div>
                </div>
                <div class="votingButton" ng-click="downvote()">
                    <i class="glyphicon glyphicon-arrow-down"></i>
                </div>
            </div>
            <div class="message col-sm-10">
                <div class="title col-md-9"><a ng-href="#/message/{{i.id}}">{{i.title}}</a></div>
                <div class="date col-md-3">{{i.created | date:"medium" }}</div>
                <div class="contents col-md-12">{{i.body}}</div>
            </div>
        </div>
    </div>
</div>