<div class="container book">
    <div class="row">
        <div class="col-md-12">
            <div class="car-header car-selection-container white-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-text" ng-if="!userSelectedPickUp"> Select a Drop-Off Date & Time</div>
                        <div class="header-text" ng-if="userSelectedPickUp"> Select a Pick-Up Date & Time</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-text" ng-if="userSelectedPickUp"> Select a Drop-Off Date & Time</div>
                        <div class="header-text " ng-if="!    userSelectedPickUp"> Select a Pick-Up Date & Time</div>
                    </div>
                </div>
                <div>
                    <i class="fa fa-check-circle" ng-click="userSelectedPickUp = !userSelectedPickUp" ng-class="{selected :userSelectedPickUp}"></i>
                    <span>Do you want us to Pick-up your vehicals</span>

                </div>
                <div class="row" ng-if="selectedDate.pickUpDate.time">
                    <div class="col-xs-6 bottom-padding10 top-padding10">
                        <div class="header-text">You have Selected</div>
                        <div class="car-option" ng-class="car-option-active" ng-click="editPickUpDate()">
                            {{selectedDate.pickUpDate.day}}
                        </div>
                        <div class="car-option" ng-class="car-option-active" ng-click="editPickUpDate()">
                            {{ selectedDate.pickUpDate.time}}
                        </div>

                    </div>
                    <div class="col-xs-6 bottom-padding10 top-padding10" ng-if="selectedDate.dropOffDate.time">
                        <div class="header-text">You have Selected</div>
                        <div class="car-option" ng-class="car-option-active" ng-click="editDropDate()">
                            {{selectedDate.dropOffDate.day}}
                        </div>
                        <div class="car-option" ng-class="car-option-active" ng-click="editDropDate()">
                            {{ selectedDate.dropOffDate.time}}
                        </div>

                    </div>

                </div>
                <div class="row top-padding10" ng-show="showPickUpCalendar">
                    <div class="col-lg-6">
                        <div class="offerDiv">
                            <div class="offerKey greenPromo"></div>
                            <div class="offerText">Weekday Special: $19.99 Pep Boys Conventional Oil Change</div>
                        </div>
                        <div class="offerDiv">
                            <div class="offerText">
                                <a>Early or Late Drop-Off before store hours</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-show="!hideCalendar">
                    <div class="row">
                        <div class="col-xs-12 bottom-padding10 top-padding10">
                            <div class="col-xs-7">
                                <button class="btn btn-default " ng-click="" >Change Centre </button>
                            </div>
                            <div class="col-xs-5">
                                <button class="btn btn-default " ng-click="nextDates('prev')" ng-disabled="disablePrevBtn"><< Previous 5 Days</button>
                                <button class="btn btn-default pull-right" ng-click="nextDates('next')"> Next 5 Days >></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="showPickUpCalendar">
                        <div class="calendar-header col-xs-4"> Please choose {{ userSelectedPickUp ? 'Pick-Up' :'Drop-off' }} Time</div>
                        <calendar-directive data="centreWorkingHours" update="selectpickUpTime(selectedDateTime)"></calendar-directive>
                    </div>
                    <div class="row" ng-show="showDropCalendar">
                        <div class="calendar-header col-xs-4"> Please choose {{ !userSelectedPickUp ? 'Pick-Up' :'Drop-off' }} Time</div>
                        <calendar-directive data="availablePickUpTime" update="selectDropTime(selectedDateTime)"></calendar-directive>
                    </div>
                </div>
                <select-address ng-if="hideCalendar" isPickup ="userSelectedPickUp"></select-address>
            </div>
        </div>
    </div>
</div>
