<div class="col-xs-12 car-flex-padding">
    <div class="car-selection-flex-container">
        <ul class="car-selection-flex-column dateContainer" ng-repeat="cwh in data">
            <li class="dateHeader">
                <div class="day">{{cwh.day}}</div>

            </li>
            <li ng-click="updateTime(wh.time, cwh.day)" ng-repeat="wh in cwh.WorkingHours"  class="date" ng-class="{selectedTime : cwh.day === selectedDate.day && wh.time === selectedDate.time, disabledLink: wh.isDisabled}">
                <span>{{ wh.time}}</span>
                <!--<i ng-if="cwh.day === selectedDate.day && wh.time === selectedDate.time" class="fa fa-check pull-right"></i>-->
            </li>
        </ul>
    </div>
</div>