@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{

<script src="~/psApp/psAppModule.js"></script>
<script src="~/psApp/psAppConfig.js"></script>
<script src="~/psApp/psAppRouteConfig.js"></script>

<script src="~/psapp/directives/psindexdirective.js"></script>
<script src="~/psApp/directives/psCarDetailsDirective.js"></script>
<script src="~/psapp/directives/psnewsdetailsdirective.js"></script>
<script src="~/psapp/directives/psnewsgriddirective.js"></script>
<script src="~/psapp/directives/psvehiclelistingsdirective.js"></script>

<script src="~/ext-modules/index/indexModule.js"></script>
<script src="~/ext-modules/index/indexDirective.js"></script>
<script src="~/ext-modules/carDetails/carDetailsModule.js"></script>
<script src="~/ext-modules/carDetails/carDetailsDirective.js"></script>
<script src="~/ext-modules/newsdetails/newsdetailsmodule.js"></script>
<script src="~/ext-modules/newsdetails/newsdetailsdirective.js"></script>
<script src="~/ext-modules/newsgrid/newsgridmodule.js"></script>
<script src="~/ext-modules/newsgrid/newsgriddirective.js"></script>
<script src="~/ext-modules/vehiclelistings/vehiclelistingsmodule.js"></script>
<script src="~/ext-modules/vehiclelistings/vehiclelistingsdirectives.js"></script>
   
}


<div ng-view></div>

