
/*/* Login related CSS Classes*/

.login-tab {
	margin: 0 auto;
	max-width: 380px;
}



.tab-pane form {
	margin: 0 auto;
}
.content > .tab-pan {
  display: none;
  background-color: #fff;
  padding: 0 15px 0;
}
.content > .active {
  display: block;
}

.formFootnote#signupLinkWrapper {
    margin-top: 3.5em;
}
.formFootnote a {
    opacity: 0;
    color: #ddd;
    text-decoration: none;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.formFootnote.ready a {
    opacity: 1;
}
.formFootnote {
    z-index: 10;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: -2.5em;
}
.forgotLink {
    margin-top: 2em;
}
.forgotLink a {
    color: #7f7f7f;
    text-decoration: none;
}
.buttonFacebook{background:#3b5998 url(../../assets/img/facebook_button.png) no-repeat 50%;background-position:18px,left;padding-left:40px}
.buttonFacebook:active,.buttonFacebook:focus{border-color:#1c2b4c}
.buttonFacebook:hover{background-color:#4562a1}
.buttonGoogle{background:#dd4b39 url(../../assets/img/google_button.png) no-repeat 50%;background-position:15px,left;padding-left:40px}
.buttonGoogle:active,.buttonGoogle:focus{border-color:#b12a1f}
.buttonGoogle:hover{background-color:#ee503d}
.buttonBlock{display:block;width:100%}
.button{-moz-appearance:none;-webkit-appearance:none;border:2px solid transparent;border-radius:5px;box-sizing:border-box;color:#fff;cursor:pointer;display:inline-block;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;margin:0;min-width:2.78572em;line-height:2.78572;outline-width:0;padding:0 1em;position:relative;text-align:center;text-decoration:none;transition:background-color .15s,border-color .15s,color .15s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.button.disabled,.button.disabled:active,.button.disabled:focus,.button.disabled:hover,.button:disabled,.button:disabled:hover{background-color:#ccc;border-color:#ccc;color:#999;cursor:default;pointer-events:none}
.button::-moz-focus-inner{border:0;padding:0}
.buttonSubmit{background: #99c432; background-position:18px,left;padding-left:40px}
.buttonSubmit:active,.buttonSubmit:focus{border-color:#a5d92b;}
.buttonSubmit:hover{background-color: #a5d92b;}
.button:visited{color:#fff}
.or{position:relative;margin-bottom:0;font-size:110%;font-family:Georgia,Times New Roman,serif;font-style:italic;text-align:center;font-weight:300}
.or::before{content: "------- "; opacity: 0.5}
.or::after{content: " -------"; opacity: 0.5}
.clearfix{margin: 10px;}

.bckgrnd-clr{
    background-color: antiquewhite;
}
.bckgrnd-color-default{
    background-color : white;
}
.footerPadding15px{
    padding-top : 15px;
}
@media(min-width: 768px) {
    .login-modal {
	width: 25%;
    min-width: 350px
}
}
@media(min-width: 500px) and (max-width: 767px) {
    .login-modal {
        margin: 80px;
    }
}
@media(max-width: 340px) {
  .login-modal  .modal-body {
        padding: 0px;
      padding-bottom: 10px;
    }
  
}
@media(min-width: 340px) and (max-width: 500px) {
    .login-modal {
      margin: 20px;
  }
}