<div class="row row-fluid" ng-repeat="order in orders">
    <div class="col-md-12">
        <div class="col-md-8" ng-if="!review">
            <h3 class="override-exclude" style="color:black;">Appointment Details(Order Id: #{{ order.invoiceNo}})</h3>
        </div>
        <div class="col-md-4" ng-if="order.status =='Pending'">
            <div class="col-md-6">
                <div class="vd_info tr" ng-click="openCalender(order)">
                    <a class="btn vd_btn btn-xs vd_bg-yellow pull-left"> <i class="fa fa-pencil append-icon"></i> Edit </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="vd_info tr" ng-click="showDailog(order)">
                    <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-times append-icon"></i> Cancel </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-bottom: 10px;">
        <div class="order-status col-md-6">
            <span>DropOff Date &amp; Time: &nbsp;</span><br />
            <span><strong>{{order.selectedAppointment.dropOffDate.day}}  {{order.selectedAppointment.dropOffDate.time}}</strong></span>
        </div>
        <div class="order-status col-md-6">
            <span>Pickup Date &amp; Time: &nbsp;</span><br />
            <span><strong>{{order.selectedAppointment.pickUpDate.day}}  {{order.selectedAppointment.pickUpDate.time}}</strong></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div style="min-height: 150px">
                <h4 class="override-exclude">Centre Details</h4>
                <div>
                    <div style="color:black; font-size: 14px; font-weight:bold;">{{order.selectedCentre.name}}</div>
                    <p style="padding-top:5px; font-size: 14px;margin-bottom: 0;">
                        {{order.selectedCentre.phoneNo}}<br>
                        {{order.selectedCentre.address.line1}}<br>
                        {{order.selectedCentre.address.line2}}
                    </p>
                    <p style="margin-bottom:0">
                        <a target="_blank" href="http://pepboys.know-where.com/pepboys/cgi/selection?mapid=US_web2&amp;lang=en&amp;design=default&amp;place=46254&amp;region=&amp;mapx=&amp;mapy=">
                            <img src="https://static.pepboys.com/images/eServe2.0/ViewMapIcon.gif">&nbsp;View on Map
                        </a>
                    </p>
                </div>
            </div>

            <div>
            </div>
        </div>
        <div class="col-md-6">
            <div style="min-height: 150px">
                <h4 class="override-exclude">Contact Information</h4>
                <div>
                    <div style="color:black; font-size: 14px; font-weight:bold;">{{order.userDetails.firstName}}&nbsp;{{order.userDetails.lastName}} </div>
                    <p style="padding-top:5px; font-size: 14px; margin-bottom: 15px;">
                        {{order.userDetails.email}}<br>
                        Phone:&nbsp;{{order.userDetails.phoneNo}}<br>
                        Email Alerts:&nbsp;No<br>
                        Text Alerts:&nbsp;No
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-6">
            <h4 class="override-exclude">Vehicle Details</h4>
            <strong>
                {{order.selectedCar.brand}}&nbsp;{{order.selectedCar.year}} &nbsp;
                {{order.selectedCar.model}}&nbsp;{{order.selectedCar.varient}}
            </strong>
        </div>
        <div class="col-md-6">
            <h4 class="override-exclude">Service Details</h4>
            <div ng-repeat="service in order.selectedCentre.serviceDetails">
                <div>
                    <strong>{{service.name}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INR {{service.price}}<br />
                </div>
            </div>
        </div>
    </div>

</div>