<div id="sliderpro1" class="slider-pro main-slider">
    <div class="sp-slides">
        <div class="sp-slide">
            <img class="sp-image" src="assets/img/01-slide.jpg"
                 data-src="assets/img/01-slide.jpg"
                 data-retina="assets/img/01-slide.jpg" alt="MileMates Slider Image" />

            <div class="item-wrap sp-layer sp-padding" data-horizontal="100" data-vertical="300"
                 data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                <div class="main-slider__inner text-left">
                    <div class="custom-caption">
                        <button type="button" class="btn btn-primary btn-effect" ng-click="go('/Service')" style="color:white;  font-size: 30px;">Book Now</button>
                        <div class="main-slider__title">The best car servicing<br /> provider in your area</div> <br/>
                        <div class="main-slider__subtitle">Basic Servicing starting from</div>
                        <div> <span class="main-slider__price">INR 2800</span> <a class="main-slider__link" ng-href="/Service" title="Price Link"><i class="icon fa fa-caret-right"></i></a> </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="sp-slide">
            <img class="sp-image" src="assets/img/02-slide.jpg"
                 data-src="assets/img/02-slide.jpg"
                 data-retina="assets/img/02-slide" alt="MileMates Slider Image" />

            <div class="item-wrap sp-layer  sp-padding" data-horizontal="100" data-vertical="300"
                 data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                <div class="main-slider__inner text-left">
                    <div class="custom-caption">
                        <button type="button" class="btn btn-primary btn-effect" ng-click="go('/About')" style="color:white; font-size: 30px;">Read More</button>
                        <div class="main-slider__title">Need to Invent the Future! <br /> We Making Difference to<br /> Great Things Possible</div> <br />
                        <div class="main-slider__subtitle">And, we must be given first chance of repair.</div>
                    </div>
                </div>
            </div>


        </div>
        <div class="sp-slide">
            <img class="sp-image" src="assets/img/03-slide.jpg"
                 data-src="assets/img/03-slide.jpg"
                 data-retina="assets/img/03-slide.jpg" alt="MileMates Slider Image" />

            <div class="item-wrap sp-layer  sp-padding" data-horizontal="100" data-vertical="300"
                 data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                <div class="main-slider__inner text-left">
                    <div class="custom-caption">
                        <button type="button" class="btn btn-primary btn-effect" ng-click="go('/About')" style="color:white;  font-size: 30px;">Read More</button>
                        <div class="main-slider__title">Customer satisfaction is<br /> our primary objective</div><br />
                        <div class="main-slider__subtitle">Excellent Reviews From Customers</div>
                    </div>
                </div>
            </div>


        </div>



    </div>
</div>


<!-- end main-slider -->

<section class="section_mod-a section-bg-2">
    <div class="bg-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="main-block text-center wow bounceInUp" data-wow-duration="2s">
                        <div class="main-block__label">welcome to</div>
                        <div class="decor-1 center-block"></div>
                        <h1 class="main-block__title"><strong>Mile <span style="color: black;">Mates</span></strong>Your Mate at every MILE</h1>
                        <div class="decor-2"><i class="icon fa fa-caret-down"></i></div>
                    </div>
                    <div class="wrap-link-img">
                        <ul class="link-img link-img_mod-a list-inline wow bounceInLeft" data-wow-duration="2s">
                            <li class="link-img__item">
                                <a class="link-img__link" href="javascript:void(0);">
                                    <img src="assets/media/link-img/11.png" height="250" width="170" alt="MileMates Carousel Footer Image">
                                    <div class="link-img__wrap-title"><span class="link-img__title">Select Your Car</span></div>
                                </a>
                            </li>
                            <li class="link-img__item">
                                <a class="link-img__link" href="javascript:void(0);">
                                    <img src="assets/media/link-img/22.png" height="250" width="170" alt="MileMates Carousel Footer Image">
                                    <div class="link-img__wrap-title"><span class="link-img__title">Select Your Service</span></div>
                                </a>
                            </li>
                        </ul>
                        <ul class="link-img link-img_mod-b list-inline wow bounceInRight" data-wow-duration="2s">
                            <li class="link-img__item">
                                <a class="link-img__link" href="javascript:void(0);">
                                    <img src="assets/media/link-img/33.png" height="250" width="170" alt="MileMates Carousel Footer Image">
                                    <div class="link-img__wrap-title"><span class="link-img__title">Select Your Centre</span></div>
                                </a>
                            </li>
                            <li class="link-img__item">
                                <a class="link-img__link" href="javascript:void(0);">
                                    <img src="assets/media/link-img/44.png" height="250" width="170" alt="MileMates Carousel Footer Image">
                                    <div class="link-img__wrap-title"><span class="link-img__title">Book Appointment</span></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginBottom50">
                        <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-send"></i></small></div>
                        <div class="ct-iconBox-content media-body">
                            <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">MILEMATES!! The Name says it all.</h6>
                            <p>No Worries from now on about your CAR!! YOUR CAR MATES ARE HERE!!</p>
                            <button type="button" class="btn btn-primary btn-effect" ng-click="go('/About')">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginBottom50">
                        <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-smile-o""></i></small></div>
                        <div class="ct-iconBox-content media-body">
                            <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Mates who make you SMILE!!</h6>
                            <p>A smile on your face is what matters the most to us. Once you are satisfied with our service, we know we have done our job well.</p>
                            <button type="button" class="btn btn-primary btn-effect" ng-click="go('/About')">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginBottom50">
                        <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-flag-checkered"></i></small></div>
                        <div class="ct-iconBox-content media-body">
                            <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Mile<b>MATES</b> believe in achieving MILESTONES</h6>
                            <p>Upon setting some standard milestones, we(Milemates and it's customer) work together towards achieving it. Our milestones depend largely on customer's delight on availing our services. CUSTOMER DELIGHT... OUR TARGET!!</p>
                            <button type="button" class="btn btn-primary btn-effect" ng-click="go('/About')">Read More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center ct-u-paddingTop50">
                    <div class="ct-phone">
                        <img class="ct-phone-default" src="../../assets/img/phone.png" alt="MileMates Phone Image">
                        <div class="embed-responsive embed-responsive-16by9 ct-embed">
                            <i class="fa fa-play"></i>
                            <img src="../../assets/img/video-placeholder2.jpg" alt="MileMates Video Place Holder Image">
                            <video class="embed-responsive-item" src="../../assets/video/video-01.mp4" data-autoplay="false" controls=""></video>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="padding-top: 80px;">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell ct-callToAction-content">
                            <h3 class="ct-callToAction-header">The best services at an affordable price</h3>
                            <p>Just the best offers you can encounter on the market, we guarantee it, and we never let our clients down.</p>
                            <button type="button" class="btn btn-primary btn-effect btn-effect-lrg" ng-click="go('/Service')" style="padding: 10px 80px;">Book Now</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
            </section>

