<div ng-controller="indexController">
    <carousel></carousel>
    <!--<services></services>-->
    <real-facts></real-facts>
    <!--<latest-offers></latest-offers>-->
    <highlights></highlights>
    <!--<types-of-vehicles></types-of-vehicles>-->
    <!--<latest-gallery></latest-gallery>-->
    <!--<news-and-articles></news-and-articles>-->
    <customer-feedback></customer-feedback>
    <our-brands></our-brands>
    <subscribe-us></subscribe-us>
</div>
<a class="book-now-icon" ng-click="go('/Service')">
    <div class="book-icon">
        <i class="fa fa-calendar" aria-hidden="true"></i>
    </div>
    <button type="button" class="btn btn-primary" ng-click="go('/Service/')" style="color: white;">Book Now</button>
</a>
<div class="share_link clickable">
    <div class="Sharer_inner">
        <a class="fb_link" href="https://www.facebook.com/milematescom-1074817592591303/" target="MileMates FB Page"><i class="Share-icon fa fa-facebook"></i></a>
        <a class="in_link"  href="https://www.linkedin.com/company/milemates" target="MileMates Linkedin Page"><i class="Share-icon fa fa-linkedin"></i></a>
        <a class="tw_link"><i class="Share-icon fa fa-twitter"></i></a>
        <a class="gp_link" href="https://plus.google.com/b/100230752972851063029/+MilematesTeam" target="MileMates Google Page"><i class="Share-icon fa fa-google-plus"></i></a>
    </div>
</div>