.book-icon{
 position: absolute;
    top: -8px;
    left: -38px;
    width: 70px;
    height: 68px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1000;
    cursor: pointer;
    border-radius: 32px;
}


.book-now-icon {
        position: fixed;
    bottom: 200px;
    right: 0;
    width: auto;
    height: auto;
    /* border-bottom-right-radius: 4px; */
    /* padding: 20px 20px 20px 0; */
    z-index: 1000;
    /* -webkit-transition: all 0.35s; */
    -moz-transition: all 0.35s;
    border-radius: 30px;
    -o-transition: all 0.35s;
    /* transition: all 0.35s; */
}
.book-icon i {
  color: #FFF;
    position: relative;
    line-height: 1;
    top: 16px;
    left: 18px;
    font-size: 35px;
}
.book-now-icon, .book-icon {
     background-color : #dc2d13 ;
}