
/*/* Login related CSS Classes*/
.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus {
    background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
}


.login-tab {
	margin: 0 auto;
	max-width: 380px;
}

.login-modal-header {
	background: #27ae60;
	color: #fff;
}

.login-modal-header .modal-title {
	color: #fff;
}

.login-modal-header .close {
	color: #fff;
}

.login-modal i {
	color: #000;
}

.login-modal form {
	max-width: 340px;
}

.tab-pane form {
	margin: 0 auto;
}
.content > .tab-pan {
  display: none;
  background-color: #fff;
  padding: 0 15px 0;
}
.content > .active {
  display: block;
}

.modal-social-icons{padding:0 10%;}
.facebook, .twitter, .google, .linkedin {width:100%;height:40px; padding-top:2%; margin-top:8%;}
.modal-icons{margin-left: -10px; margin-right: 20px;}
.google, .google:hover{background-color:#dd4b39;border:2px solid #dd4b39;color:#fff;}
.twitter, .twitter:hover{ background-color: #00aced; border:2px solid #00aced;color: #fff;}
.facebook, .facebook:hover{background-color: #3b5999; border:2px solid #3b5999;color:#fff;}
.linkedin, .linkedin:hover{background-color: #007bb6; border: 2px solid #007bb6; color:#fff;}
#social-icons-conatainer{position: relative;}
#center-line{right: 265.7px;top: 80px;background:#ddd;  border: 4px solid #DDDDDD;border-radius: 20px;}

#center-line-OR {   
    position: absolute;
    right: 200px;
    top: 230px;
    background: #ddd;
    border: 6px solid #DDDDDD;
    border-radius: 20px;

}

.bckgrnd-clr{
    background-color: antiquewhite;
}
.bckgrnd-color-default{
    background-color : white;
}
.footerPadding15px{
    padding-top : 15px;
}
