<!-- -Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content login-modal">
            <div class="modal-header login-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="loginModalLabel">USER AUTHENTICATION</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div role="tabpanel" class="login-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a id="signin-taba" href="#home" aria-controls="home" role="tab" data-toggle="tab">Sign In</a></li>
                            <li role="presentation"><a id="signup-taba" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a></li>
                            <li role="presentation"><a id="forgetpass-taba" href="#forget_password" aria-controls="forget_password" role="tab" data-toggle="tab">Forget Password</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="content">
                            <div role="tabpanel" class="tab-pan active text-center" id="home">
                                &nbsp;&nbsp;
                                <div class="alert alert-danger" role="alert" ng-show="loginError">
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                                    <a href="#" class="close" ng-click="logReset()" aria-label="close">&times;</a>
                                    <span class="sr-only">Error:</span>
                                    {{message}}
                                </div>
                                <div class="clearfix"></div>
                                <input type="button" name="Google" value="Google" class="google" ng-click="socialSubmit('Google')" />
                                <input type="button" name="Facebook" value="Facebook" class="facebook" ng-click="socialSubmit('Facebook')" />
                                <div id="center-line" class="clearfix">
                                    <div id="center-line-OR" class="clearfix">OR</div>
                                </div>
                                <div class="clearfix"></div>
                                <form name="loginForm">
                                    <div class="form-group">
                                        <div class="input-group" style="float: left;">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" class="form-control" name="email" id="email" ng-model="Email" ng-class="{'bckgrnd-clr': (loginForm.email.$error.email || loginForm.email.$dirty || loginForm.email.$error.pattern), 'bckgrnd-color-default' : (!loginForm.email.$error.email && !loginForm.email.$error.required && !loginForm.email.$error.pattern)}" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" placeholder="Email" required>
                                        </div>
                                        <p class="text-danger" style="float: left;" ng-show="loginForm.email.$error.required && loginForm.email.$dirty">Required</p>
                                        <p class="text-danger" style="float: left;" ng-show="!loginForm.email.$error.required && loginForm.email.$error.email && loginForm.email.$dirty && loginForm.email.$error.pattern">Enter a valid email address</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group" style="float: left;">
                                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                            <input type="password" class="form-control" name="password" id="password" ng-model="Password" ng-class="{'bckgrnd-clr': (loginForm.password.$error.required && loginForm.password.$dirty), 'bckgrnd-color-default' : (!loginForm.password.$error.required)} " placeholder="Password" required>
                                        </div>
                                        <p class="text-danger" style="float: left;" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Required</p>
                                    </div>
                                    <button type="button" id="login_btn" class="btn btn-block bt-login" ng-disabled="loginForm.$invalid" ng-click="loginSubmit()" data-loading-text="Signing In....">Login</button>
                                    <div class="login-modal-footer footerPadding15px">
                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <i class="fa fa-lock"></i>
                                                <a href="javascript:;" class="forgetpass-tab"> Forgot password? </a>

                                            </div>

                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                                <i class="fa fa-check"></i>
                                                <a href="javascript:;" class="signup-tab"> Sign Up </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pan" id="profile">
                                &nbsp;&nbsp;
                                <div class="alert alert-danger" role="alert" ng-show="regError && !regSuccess">
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                                    <a href="#" class="close" ng-click="regReset()" aria-label="close">&times;</a>
                                    <span class="sr-only">Error:</span>
                                    {{errorMessage}}
                                </div>
                                <div class="alert alert-success" role="alert" ng-show="regSuccess && !regError">
                                    <span class="fa fa-check-circle-o" aria-hidden="true"></span>
                                    <a href="#" class="close" ng-click="regReset()" aria-label="close">&times;</a>
                                    <span class="sr-only">Success:</span>
                                    {{successMessage}}
                                </div>
                                <div class="clearfix"></div>
                                <form name="regForm">
                                    <div class="form-group">
                                        <div class="input-group" style="float: left;">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" class="form-control" id="rfirstname" name="rfirstname" placeholder="Firstname" ng-model="regFirstname" ng-class="{'bckgrnd-clr': (regForm.rfirstname.$error.pattern || regForm.rfirstname.$dirty || regForm.rfirstname.$error.minlength || regForm.rfirstname.$error.maxlength),'bckgrnd-color-default' : (!regForm.rfirstname.$error.pattern && !regForm.rfirstname.$error.minlength && !regForm.rfirstname.$error.maxlength && !regForm.rfirstname.$error.required)}" ng-minlength="2" ng-maxlength="20" ng-pattern="/^[A-z][A-z]*$/" required>
                                        </div>
                                        <p class="text-danger" style="float: left;" ng-show="regForm.rfirstname.$error.required && regForm.rfirstname.$dirty">Required</p>
                                        <p class="text-danger" style="float: left;" ng-show="!regForm.rfirstname.$error.minLength && !regForm.rfirstname.$error.maxLength && regForm.rfirstname.$error.pattern && regForm.rfirstname.$dirty">Must start with a letter, and contain letters only.</p>
                                        <p class="text-danger" style="float: left;" ng-show="!regForm.rfirstname.$error.required && (regForm.rfirstname.$error.minlength || regForm.rfirstname.$error.maxlength) && regForm.rfirstname.$dirty">Username must be between 2 and 20 characters.</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group" style="float: left;">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" class="form-control" id="rlastname" name="rlastname" placeholder="Lastname" ng-model="regLastname" ng-class="{'bckgrnd-clr': (regForm.rlastname.$error.pattern || regForm.rlastname.$dirty || regForm.rlastname.$error.minlength || regForm.rlastname.$error.maxlength),'bckgrnd-color-default' : (!regForm.rlastname.$error.pattern && !regForm.rlastname.$error.minlength && !regForm.rlastname.$error.maxlength  && !regForm.rlastname.$error.required)}"  ng-minlength="2" ng-maxlength="20" ng-pattern="/^[A-z][A-z]*$/" required>
                                        </div>
                                        <p class="text-danger" style="float: left;" ng-show="regForm.rlastname.$error.required && regForm.rlastname.$dirty">Required</p>
                                        <p class="text-danger" style="float: left;" ng-show="!regForm.rlastname.$error.minLength && !regForm.rlastname.$error.maxLength && regForm.rlastname.$error.pattern && regForm.rlastname.$dirty">Must start with a letter, and contain letters only.</p>
                                        <p class="text-danger" style="float: left;" ng-show="!regForm.rlastname.$error.required && (regForm.rlastname.$error.minlength || regForm.rlastname.$error.maxlength) && regForm.rlastname.$dirty">Username must be between 2 and 20 characters.</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group" style="float: left;">
                                            <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                            <input type="text" class="form-control" id="remail" name="remail" placeholder="Email" ng-class="{'bckgrnd-clr': (regForm.remail.$dirty || regForm.remail.$error.pattern) ,'bckgrnd-color-default' : (!regForm.remail.$error.email && !regForm.remail.$error.required && !regForm.remail.$error.pattern)} " ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" ng-model="regEmail" required>
                                        </div>
                                        <p class="text-danger" style="float: left;" ng-show="regForm.remail.$error.required && regForm.remail.$dirty">Required</p>
                                        <p class="text-danger" style="float: left;" ng-show="!regForm.remail.$error.required && regForm.remail.$error.email && regForm.remail.$dirty">Enter a valid email address</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group" style="float: left;">
                                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                            <input type="password" class="form-control" id="rpassword" name="rpassword" ng-model="regPassword" ng-class="{'bckgrnd-clr': (regForm.rpassword.$error.pattern || regForm.rpassword.$dirty || regForm.rpassword.$error.minlength || regForm.rpassword.$error.maxlength),'bckgrnd-color-default' : (!regForm.rpassword.$error.pattern && !regForm.rpassword.$error.minlength && !regForm.rpassword.$error.maxlength)}" placeholder="Password" required ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
                                        </div>
                                        <p class="text-danger" style="float: left;" ng-show="regForm.rpassword.$error.required && regForm.rpassword.$dirty">Required</p>
                                        <p class="text-danger" style="float: left;" ng-show="!regForm.rpassword.$error.required && (regForm.rpassword.$error.minlength || regForm.rpassword.$error.maxlength) && regForm.rpassword.$dirty">Passwords must be between 8 and 20 characters.</p>
                                        <p class="text-danger" style="float: left;" ng-show="!regForm.rpassword.$error.required && !regForm.rpassword.$error.minlength && !regForm.rpassword.$error.maxlength && regForm.rpassword.$error.pattern && regForm.rpassword.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group" style="float: left;">
                                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                            <input type="password" class="form-control" id="rcnfpassword" name="rcnfpassword" ng-model="cnfPassword" placeholder="Password Again!!!" required>
                                        </div>
                                        <p class="text-danger" style="float: left;" ng-show="regForm.rcnfpassword.$error.required && regForm.rcnfpassword.$dirty">Please confirm your password.</p>
                                        <p class="text-danger" style="float: left;" ng-show="regPassword != cnfPassword && !regForm.rcnfpassword.$error.required && regForm.rcnfpassword.$error.noMatch && regForm.rcnfpassword.$dirty">Passwords do not match.</p>
                                    </div>
                                    <button type="button" id="register_btn" class="btn btn-block bt-login" data-loading-text="Registering...." ng-disabled="regForm.$invalid" ng-click="registerSubmit()">Register</button>
                                    <div class="clearfix"></div>
                                    <div class="login-modal-footer footerPadding15px">
                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <i class="fa fa-lock"></i>
                                                <a href="javascript:;" class="forgetpass-tab"> Forgot password? </a>

                                            </div>

                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                                <i class="fa fa-check"></i>
                                                <a href="javascript:;" class="signin-tab"> Sign In </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pan text-center" id="forget_password">
                                &nbsp;&nbsp;
                                <div class="alert alert-danger" role="alert" ng-show="frgError && !frgSuccess">
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                                    <a href="#" class="close" ng-click="frgReset()" aria-label="close">&times;</a>
                                    <span class="sr-only">Error:</span>
                                    {{errorMessage}}
                                </div>
                                <div class="alert alert-success" role="alert" ng-show="frgSuccess && !frgError">
                                    <span class="fa fa-check-circle-o" aria-hidden="true"></span>
                                    <a href="#" class="close" ng-click="frgReset()" aria-label="close">&times;</a>
                                    <span class="sr-only">Success:</span>
                                    {{successMessage}}
                                </div>
                                <div class="clearfix"></div>
                                <form name="fgtForm">
                                    <div class="form-group">
                                        <div class="input-group" style="float: left;">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="email" class="form-control" id="femail" name="femail" placeholder="Email" ng-model="fgtEmail" ng-class="{'bckgrnd-clr': (fgtForm.femail.$error.email || fgtForm.femail.$dirty || fgtForm.femail.$error.pattern), 'bckgrnd-color-default' : (!fgtForm.femail.$error.email && !fgtForm.femail.$error.required && !fgtForm.femail.$error.pattern)}" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" required>
                                        </div>
                                        <p class="text-danger" style="float: left;" ng-show="fgtForm.femail.$error.required && fgtForm.femail.$dirty">Required</p>
                                        <p class="text-danger" style="float: left;" ng-show="!fgtForm.femail.$error.required && fgtForm.femail.$error.email && fgtForm.femail.$dirty && fgtForm.femail.$error.pattern">Enter a valid email address</p>

                                    </div>

                                    <button type="button" id="reset_btn" class="btn btn-block bt-login" data-loading-text="Please wait...." ng-disabled="fgtForm.$invalid" ng-click="forgotSubmit()">Forget Password</button>
                                    <div class="clearfix"></div>
                                    <div class="login-modal-footer footerPadding15px">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <i class="fa fa-lock"></i>
                                                <a href="javascript:;" class="signin-tab"> Sign In </a>

                                            </div>

                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <i class="fa fa-check"></i>
                                                <a href="javascript:;" class="signup-tab"> Sign Up </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- - Login Model Ends Here -->
