<!DOCTYPE html>
<html ng-app="psApp" ng-controller="psController">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta name="description" content="MileMates is a one stop solution for all kinds of car servicing needs at affordable price.
          MileMates strives to provide customers with the best car servicing in Pune.">
    <meta name="keywords" content="servicing, car servicing, car care, online car servicing, online car care, car spa, car wash, online car wash, online car spa,
          car repairing, repairing, car repairing online, denting and paiting, car denting and painting, denting, painting,
          cheap car servicing, car service, service car, service my car, service my car online, best car servicing, best car servicing online, affordable car servicing,
          car maintenance, car maintenance online, online shop for car servicing, car servicing in pune, car servicing online in pune, online servicing in pune,
          car service in pune, pune online car servicing">
    <meta name="author" content="https://plus.google.com/+MilematesTeam/">
    <title>MileMates | Book Online Car Servicing in Pune</title>
    <base href="/">
    <link href="~/favicon.png" type="image/x-icon" rel="shortcut icon" title="shortcut icon">
    <link rel="alternate" href="https://www.milemates.com" hreflang="en-us" />
    <script type="text/javascript" async defer
            src="https://apis.google.com/js/platform.js?publisherid=100230752972851063029">
    </script>
</head>

<body>

    @RenderBody()

    <link rel="stylesheet" href="~/lib/ui-grid/ui-grid.min.css" async>
    <link href="~/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <environment names="Development">
        <link href="~/assets/css/master.css" rel="stylesheet">
        <link href="~/assets/css/theme.css" rel="stylesheet">
        <link href="~/assets/css/responsive.css" rel="stylesheet">
        <link href="~/assets/css/color.css" rel="stylesheet">
        <link href="~/assets/plugins/sliderpro/css/slider-pro.css" rel="stylesheet">
        <link href="~/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="~/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="~/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
        <link href="~/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
        <link href="~/assets/plugins/yamm/yamm.css" rel="stylesheet">
        <link href="~/assets/plugins/animate/animate.css" rel="stylesheet">
        <link href="~/assets/plugins/jelect/main.css" rel="stylesheet">
        <link href="~/assets/plugins/switcher/css/switcher.css" rel="stylesheet" id="switcher-css" media="all"/>
        <link href="~/assets/plugins/switcher/css/color1.css" rel="alternate stylesheet" title="color1" media="all" async/>
        <link href="~/assets/plugins/switcher/css/color2.css" rel="alternate stylesheet" title="color2" media="all" async/>
        <link href="~/assets/plugins/switcher/css/color3.css" rel="alternate stylesheet" title="color3" media="all" async/>
        <link href="~/assets/plugins/switcher/css/color4.css" rel="alternate stylesheet" title="color4" media="all" async/>
        <link href="~/assets/plugins/switcher/css/color5.css" rel="alternate stylesheet" title="color5" media="all" async/>
    </environment>

    <environment names="Production">
        <link href="~/assetsDist/css/master.css" rel="stylesheet">
        <link href="~/assetsDist/css/theme.css" rel="stylesheet">
        <link href="~/assetsDist/css/responsive.css" rel="stylesheet">
        <link href="~/assetsDist/css/color.css" rel="stylesheet">
        <link href="~/assetsDist/plugins/sliderpro/css/slider-pro.css" rel="stylesheet">
        <link href="~/assetsDist/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="~/assetsDist/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="~/assetsDist/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
        <link href="~/assetsDist/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
        <link href="~/assetsDist/plugins/yamm/yamm.css" rel="stylesheet">
        <link href="~/assetsDist/plugins/animate/animate.css" rel="stylesheet">
        <link href="~/assetsDist/plugins/jelect/main.css" rel="stylesheet">
        <link href="~/assetsDist/plugins/switcher/css/switcher.css" rel="stylesheet" id="switcher-css" media="all">
        <link href="~/assetsDist/plugins/switcher/css/color1.css" rel="alternate stylesheet" title="color1" media="all" async>
        <link href="~/assetsDist/plugins/switcher/css/color2.css" rel="alternate stylesheet" title="color2" media="all" async>
        <link href="~/assetsDist/plugins/switcher/css/color3.css" rel="alternate stylesheet" title="color3" media="all" async>
        <link href="~/assetsDist/plugins/switcher/css/color4.css" rel="alternate stylesheet" title="color4" media="all" async>
        <link href="~/assetsDist/plugins/switcher/css/color5.css" rel="alternate stylesheet" title="color5" media="all" async>
    </environment>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="~/lib/ngStorage.min.js"></script>
        <script src="~/lib/angular-cookies/angular-cookies.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0GcjelQj_O2T2bsN5vuZCxbB44OFTjXA&libraries=places&v=3.exp&signed_in=true&"></script>
        <script src="~/lib/ui-grid/ui-grid.min.js"></script>
    </environment>

<environment names="Production">
    <script src="~/dist/externalLib.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0GcjelQj_O2T2bsN5vuZCxbB44OFTjXA&libraries=places&v=3.exp&signed_in=true&" async></script>
</environment>

<environment names="Development">
    <!-- SCRIPTS -->
    <script src="~/assets/js/jquery-migrate-1.2.1.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/modernizr.custom.js"></script>
    <script src="~/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/plugins/switcher/js/bootstrap-select.js"></script>
    <script src="~/assets/plugins/switcher/js/evol.colorpicker.min.js"></script>
    <script src="~/assets/plugins/switcher/js/dmss.js"></script>
    <script src="~/assets/plugins/jelect/jquery.jelect.js"></script>
    <script src="~/assets/plugins/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <!--HOME SLIDER-->
    <script src="~/assets/plugins/sliderpro/js/jquery.sliderPro.min.js"></script>
    <script src="~/assets/js/cssua.min.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/custom.js"></script>
</environment>
    <!-- MileMates CSS -->
    <environment names="Development">
        <link href="~/psapp/userprofile/userprofile.css" rel="stylesheet" />
        <link href="~/psapp/headerContent/header.css" rel="stylesheet" />
        <link href="~/psapp/carservice/carservices.css" rel="stylesheet" />
        <link href="~/psapp/logindetails/logindetails.css" rel="stylesheet" />
        <link href="~/psapp/headercontent/collapsablecontentcss.css" rel="stylesheet" />
        <link href="~/psapp/footercontent/footer.css" rel="stylesheet" />
        <link href="~/psapp/index/index.css" rel="stylesheet" />
        <link href="~/psapp/dashboard/dashboard.css" rel="stylesheet" />
        <link href="~/psapp/pricing/pricing.css" rel="stylesheet" />
        <link href="~/psapp/carservice/ordersummary/ordersummary.css" rel="stylesheet" />
    </environment>

    <environment names="Production">
        <link href="~/dist/css/mm.css" rel="stylesheet" />
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>
