<!DOCTYPE html>
<html ng-app="psApp" ng-controller="psController">
<!-- Mirrored from html.templines.com/autozone/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 21 Feb 2016 15:29:35 GMT -->
<!-- Added by HTTrack -->
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <title>Autozone, Home-1</title>
    <base href="/">
    <link href="~/favicon.png" type="image/x-icon" rel="shortcut icon">
    <link href="~/assets/css/master.css" rel="stylesheet">
    <link href="~/assets/plugins/iview/css/iview.css" rel="stylesheet">
    <link href="~/assets/plugins/iview/css/skin/style.css" rel="stylesheet">
   
     <!-- SWITCHER -->
    <link href="~/assets/plugins/switcher/css/switcher.css" rel="stylesheet" id="switcher-css" media="all">
    <link href="~/assets/plugins/switcher/css/color1.css" rel="alternate stylesheet" title="color1" media="all">
    <link href="~/assets/plugins/switcher/css/color2.css" rel="alternate stylesheet" title="color2" media="all">
    <link href="~/assets/plugins/switcher/css/color3.css" rel="alternate stylesheet" title="color3" media="all">
    <link href="~/assets/plugins/switcher/css/color4.css" rel="alternate stylesheet" title="color4" media="all">
    <link href="~/assets/plugins/switcher/css/color5.css" rel="alternate stylesheet" title="color5" media="all">
    <link rel="stylesheet" href="~/css/Site.css" />
    <link href="~/psapp/userprofile/userprofile.css" rel="stylesheet" />
    <link href="~/psapp/headerContent/header.css" rel="stylesheet" />

    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="//code.angularjs.org/1.2.16/angular-cookies.min.js"></script>
    <script src="~/lib/ngStorage.min.js"></script>

    <!-- Auth0 Lock script and AngularJS module -->
    <script src="//cdn.auth0.com/js/lock-8.2.min.js"></script>
    <!-- angular-jwt and angular-storage -->
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

    <script src="//cdn.auth0.com/w2/auth0-angular-4.js"> </script>
   
</head>

<body>
    @RenderSection("scripts", required: false)
  
    
    <!-- SCRIPTS -->
    <script src="~/assets/js/jquery-migrate-1.2.1.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/modernizr.custom.js"></script>
    <script src="~/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/plugins/jelect/jquery.jelect.js"></script>
    <script src="~/assets/plugins/nouislider/jquery.nouislider.all.min.js"></script>
    <script src="~/assets/plugins/flexslider/jquery.flexslider.js"></script>
    <script src="~/assets/plugins/switcher/js/bootstrap-select.js"></script>
    <script src="~/assets/plugins/switcher/js/evol.colorpicker.min.js"></script>
    <script src="~/assets/plugins/switcher/js/dmss.js"></script>
    <script src="~/assets/plugins/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <!--HOME SLIDER-->
    <script src="~/assets/plugins/sliderpro/js/jquery.sliderPro.min.js"></script>
    <script src="~/assets/js/cssua.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="~/assets/js/custom.js"></script>

   
    <!--THEME-->

   

    @RenderBody()




</body>
</html>
