<div class="tab-pane fade in active">
    <div class="row">
        <div class="col-lg-12 form-group">
            <div class="col-lg-6">
                <input class="form-control" id="OrderId" name="closingHours" placeholder="OrderId" type="text" ng-model="Id" />
            </div>
            <div class="col-lg-6">
                <a class="btn btn-primary btn-effect" ng-click="getOrderById(Id)">Serach</a>
                <a ng-show="!isEdit && activeOrder" class="btn btn-primary btn-effect" ng-click="isEdit = !isEdit">EditOrder</a>
                <a ng-show="isEdit" class="btn btn-primary btn-effect" ng-click="isEdit = !isEdit">Cancel Edit</a>
            </div>
        </div>

    </div>

    <order-details orders="activeOrder" ng-hide="!isEdit"></order-details>

    <div class="row">
        <div class="col-sm-12">
            
            
        </div>


    </div>
</div>
