 <!-- HEADER -->
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a id="scrollUp" class="back-to-top" href="#top" title="<i class='scroll-icon fa fa-chevron-up scroll-up'></i>" style="position: fixed; z-index: 2147483647; display:none;"><i class="scroll-icon fa fa-chevron-up scroll-up"></i></a>    
                    <div class="header-contacts">
                        <ul class="social-links list-inline">
                            <li><a class="icon fa fa-facebook" href="javascript:void(0);"></a></li>
                            <li><a class="icon fa fa-twitter" href="javascript:void(0);"></a></li>
                            <li><a class="icon fa fa-youtube-play" href="javascript:void(0);"></a></li>
                            <li><a class="icon fa fa-instagram" href="javascript:void(0);"></a></li>
                            <li><a class="icon fa fa-google-plus" href="javascript:void(0);"></a></li>
                        </ul>
                    </div>
                    <!--<div class="header-contacts">
                        <span class="header-contacts__item">
                            <i class="icon fa fa-phone"></i>+91 8380911266
                        </span>
                        <a class="header-contacts__item" href="mailto:support@milemates.com">
                            <i class="icon fa fa-envelope"></i>support (at) milemates.com
                        </a>
                    </div>-->
                    <div class="bottom-bar">
                        <div class="list-bottom-bar">
                            <i class="fa fa-car"></i>
                            <h6><a href="#">My Vehicles:</a></h6>
                            <a href="#" class="add">Add a Vehicle</a>
                        </div>
                        <!-- /.list-bottom-bar -->

                        <div class="list-bottom-bar">
                            <i class="fa fa-map-marker"></i>
                            <h6><a href="#">My store:</a></h6>
                            <!--<p>Auto car online</p>-->
                        </div>
                        <!-- /.list-bottom-bar -->

                        <div class="list-bottom-bar">
                            <i class="fa fa-calendar"></i>
                            <h6><a href="#">My Appointments:</a></h6>
                            <a href="subpage-appointment.html" class="add">Make an appointment</a>
                        </div>
                        <!-- /.list-bottom-bar -->
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end top-header -->

    <div class="header__inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <a href="index-2.html" class="logo"> <img class="logo__img img-responsive" src="assets/img/logo.png" height="50" width="150" alt="Logo"> </a>
                    <div class="navbar yamm">
                        <div class="navbar-header hidden-md hidden-lg hidden-sm">
                            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                            <a href="javascript:void(0);" class="navbar-brand"></a>
                        </div>
                        <div id="navbar-collapse-1" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/About">WHY CHOOSE US?</a></li>
                                <li><a href="/Contact">Connect With Us?</a></li>
                                <li>
                                    <a href="/Service">Service</a>
                                </li>
                                <li>
                                    <a href="" ng-if="!isLoggedIn" ng-click="openloginModal()">LOGIN</a>
                                    <ps-user-profile ng-if="isLoggedIn"></ps-user-profile>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</div>
<!-- end header__inner -->
<!-- end header -->
<login-details ng-controller="loginDetailsController"></login-details>
