<ps-index></ps-index>

<script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "Service",
    "name": "Car Service",
    "image": "https://www.milemates.com/assets/img/77H.jpg",
    "description": "Online Car Servicing provider available in Pune.",
    "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "reviewCount": "276",
    "bestRating": "5",
    "worstRating": "2"
    },
    "serviceType": [
    "Lite Car Service",
    "Essential Car Service",
    "Comprehensive Car Service",
    "Breakdown Service",
    "Car Wash",
    "Car Polishing",
    "Minor Repair",
    "Car Denting and Painting"
    ]
    }
</script>