<div class="tab-pane fade in active">
    <div class="row">
        <div class="col-lg-12 form-group">
            <div class="col-lg-6">
                <input class="form-control" id="centreId" name="centreId" placeholder="centreId" type="text" ng-model="id"/>
            </div>
            <div class="col-lg-6">
                <a class="btn btn-primary btn-effect" ng-click="getPriceList(id)">Serach</a>
            </div>
        </div>


    </div>
    <div id="grid1" ui-grid="gridOptions" ui-grid-edit style="height: 600px;"></div>
</div>
