.section_pricing{

}
.section_pricing:before {
    bottom: -30px;
    background: url('../media/bg/7.jpg') no-repeat 100% 100%;
}
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -190px 0 0 -468px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 15px;
}
.package {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 360px;
    border: 3px solid;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    float: left;
    -webkit-transition: margin-top 0.5s linear;
    -moz-transition: margin-top 0.5s linear;
    -o-transition: margin-top 0.5s linear;
    transition: margin-top 0.5s linear;
    position: relative;
    margin-right: 20px;
    margin-bottom: 50px;
}
.package:hover {
    margin-top: -30px;
    -webkit-transition: margin-top 0.3s linear;
    -moz-transition: margin-top 0.3s linear;
    -o-transition: margin-top 0.3s linear;
    transition: margin-top 0.3s linear;
}
.package .most-popular {
    background-image: url(../../assets/img/most-popular.png);
    height: 98px;
    left: -7px;
    overflow: hidden;
    position: absolute;
    text-indent: -999em;
    top: -7px;
    width: 126px;
    z-index: 9;
}
.name {
  color: #565656;
  font-weight: 300;
  font-size: 3rem;
  margin-top: -5px;
}
.price {
  margin-top: 7px;
  font-weight: bold;
  font-size: 25px;
}
.package hr {
  background-color: gray;
  border: none;
  height: 1px;
}
.trial {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 2px 21px 2px 21px;
  border: 1px solid #e4e4e4;
  display: inline-block;
  border-radius: 15px;
  background-color: white;
  position: relative;
  bottom: -30px;
}
.package ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 29px;
}
.package li {
  margin-bottom: 15px;
}
.checkIcon {
  font-family: "FontAwesome";
  content: "\f00c";
}
.package li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 1.3rem;
  margin-right: 3px;
}
.package p{
    font-size: 19px;
    font-weight: normal;
    margin-bottom: inherit;
}

.brilliant::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.brilliant::after {
  font-family: "FontAwesome";
  content: "\f00c";
  color: white;
  position: absolute;
  left: 9px;
  top: 6px;
  text-shadow: 0 0 2px #37c5b6;
  font-size: 1.4rem;
}
