<div id="wrapper">
    <div class="block-title">
        <div class="block-title__inner section-bg section-bg_second">
            <div class="bg-inner">
                <div class="decor-1-header center-block"></div>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Admin</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container admin">
        <ul class="nav nav-tabs">
            <li ui-sref-active="active"><a ui-sref="admin.addCentre">Add New Centre</a></li>
            <!--<li><a ui-sref="#menu2">Menu 2</a></li>-->
            <li ui-sref-active="active"><a  ui-sref="admin.editOrder">Edit Order </a></li>
           

        </ul>
        <div ui-view class="white-container tab-content"></div>
        <!--<div class="tab-content">

            <div id="menu1" class="tab-pane fade white-container">
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <div class="col-lg-6">
                            <input class="form-control" id="OrderId" name="closingHours" placeholder="OrderId" type="text" ng-model="Id"/>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-primary btn-effect" ng-click="getOrderById(Id)">Serach</a>
                            <a class="btn btn-primary btn-effect" ng-click="changeState('admin.editOrder')">EditOrder</a>
                        </div>
                    </div>

                </div>

                <order-details orders="activeOrder"></order-details>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>-->
    </div>
</div>
<div id="centreAddressOverlay" class="modal fade" role="dialog" style="z-index:2000">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please select your address</h4>
            </div>
            <div class="modal-body collapse-content" id="container">
                <div style="position:absolute;z-index:1; width: 85%;">
                    <i class="fa fa-search" style="position:absolute;padding:5px;top:5px"></i>
                    <input class="form-control" style="padding:0 20px" id="centre_formatted_address" placeholder="Start typing your address" type="text" ng-model="centreDetails.formattedAddress" />
                </div>
                <div id="centreAddressMap" class="address-map" style="height:400px;"></div>
            </div>
            <div class="modal-footer" style="margin-top: 20px;">
                <div style="text-align: left; display: block;">
                    <div style="display: inline-block; float: right;">
                        <button type="button" class="btn btn-primary btn-effect" data-dismiss="modal" ng-click="selectLocation();">Select </button>
                        <button type="button" class="btn btn-primary btn-effect" data-dismiss="modal">cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
