<div id="wrapper">
    <div class="block-title">
        <div class="block-title__inner section-bg section-bg_second">
            <div class="bg-inner">
                <div class="decor-1-header center-block"></div>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Admin</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container admin">
        <div>
            <div class="row margin-top10">
                <div class="form-group">
                    <div class="col-lg-6" ng-show="!newCentre">
                        <button type="button" class="btn btn-primary btn-effect" ng-click="newCentre = true; centreDetails.Id =''">Add New Centre</button>
                    </div>
                    <div class="col-lg-6" ng-show="newCentre">
                        <button type="button" class="btn btn-primary btn-effect" ng-click="newCentre = false">Add To existing Centre</button>
                    </div>
                    <div class="col-lg-6" ng-show="newCentre">
                        <a type="button" class="btn btn-primary btn-effect" ng-click="openOverlay()">Click Here to Locate</a>
                    </div>
                </div>
            </div>
            <div class="row margin-top10" ng-if="newCentre">
                <div class="form-group col-lg-6">
                    <label for="sublocality_level_3" class="">Area</label>
                    <input class="form-control" placeholder="Area" ng-model="centreDetails.Area" type="text" />
                </div>
                <div class="form-group col-lg-6">
                    <label for="FirstName"> Centre Name</label>
                    <input class="form-control" id="FirstName" name="firstName" placeholder="first name" type="text" ng-model="centreDetails.Name" />
                </div>
                <div class="form-group col-lg-6">
                    <label for="LastName"> Address line 1</label>
                    <input class="form-control" id="LastName" name="lastName" placeholder="Address line 1" type="text" ng-model="centreDetails.Address.line1" />
                </div>
                <div class="form-group col-lg-6">
                    <label for="MobileNo"> Mobile No</label>
                    <input class="form-control" id="MobileNo" name="mobile" type="number" ng-model="centreDetails.PhoneNo" placeholder="Mobile Number" />
                </div>

                <div class="form-group col-lg-6">
                    <label for="Email"> Address line 2</label>
                    <input class="form-control" id="Email" name="email" placeholder="Address line 1" type="text" ng-model="centreDetails.Address.line2" />
                </div>

                <div class="form-group col-lg-6">
                    <label for="Email"> Review </label>
                    <input class="form-control" id="Review" name="formattedAddress" placeholder="Review" type="text" ng-model="centreDetails.review" />
                </div>
                <div class="form-group col-lg-6">
                    <label for="Email"> Formatted Address </label>
                    <input class="form-control" id="formattedAddress" name="formattedAddress" placeholder="formatted Address" type="text" ng-model="centreDetails.formattedAddress" />
                </div>
                <div class="form-group col-lg-6">
                    <div class="car-header">
                        <span>Latitude:</span> <span>{{centreDetails.Latitude}}</span><br />

                        <span>Longitude:</span> <span>{{centreDetails.Longitude}}</span>
                    </div>


                </div>
                
            </div>

            <div class="row margin-top10" ng-if="!newCentre">
                <div class="col-lg-6">

                    <label for="sublocality_level_2" class="">Area</label>
                    <input class="form-control" placeholder="Area" ng-model="centreDetails.Area" type="text"/>
                </div>
                <div class="col-lg-6">
                    <label for="sublocality_level_1" class="">Centre ID</label>
                    <input class="form-control" placeholder="Centre ID" ng-model="centreDetails.Id" type="number"/>
                </div>
            </div>
            <div class="row margin-top10">
                <div class="form-group col-lg-6" style="padding: 0">
                    <div class="car-selection-container">
                        <label for="NearArea"> Near Area </label>
                        <input class="form-control" id="NearArea" name="NearArea" placeholder="Type Area Name" type="text" ng-model="area" />
                        <div class="car-selection-flex-container">
                            <ul ng-show="area" class="car-selection-flex-column" style="position: absolute; background-color: #fff; z-index: 9999;left: 0">
                                <li ng-repeat="x in AreaList | filter:area" ng-click="addArea(x);">
                                    {{ x }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6" style="padding: 0">
                    <div class="car-selection-container">
                        <div class="car-selection-flex-container">
                            <ul ng-show="nearAreas" class="car-selection-flex-column">
                                <li ng-repeat="x in nearAreas" ng-click="addArea(x);">
                                    {{ x }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row margin-top10">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="car-selection-car-container">

                                <div class="car-option" ng-class="car-option-active" ng-click="editBrand()" ng-show="brand">
                                    {{brand}}
                                </div>

                                <div class="car-option" ng-class="" ng-show="centreDetails.model">
                                    {{centreDetails.model}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="form-container" class="col-md-12">
                <div class="car-selection-container" ng-show="showBrandName">
                    <span class="car-selection-step-name">
                        Select MAKE
                    </span>
                    <div class="car-selection-flex-container">
                        <ul class="car-selection-flex-column" ng-repeat="carList in carList.carCollections">
                            <li ng-click="selectBrand(carBrand)" ng-model="selectedCar.brand" ng-repeat="carBrand in carList">
                                <img ng-src="psApp/carService/car_logos/{{carBrand | lowercase}}_img.png" alt="MileMates Car Logo" width="24" height="24">
                                <span ng-bind="carBrand" style="padding-left: 10px"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" ng-show="showModel">
                    <div class="col-xs-6">
                        <div class="car-selection-container">
                            <span class="car-selection-step-name">
                                YOUR MODEL
                            </span>
                            <div class="car-selection-flex-container">
                                <ul class="car-selection-flex-column" ng-repeat="typeList in carList.carTypes">
                                    <li ng-click="selectModel(type)" ng-model="car.type" ng-repeat="type in typeList">{{type}}</li>
                                </ul>

                            </div>
                        </div>
                        <div>
                            <div class="sorting row">
                                <div class="col-lg-6">
                                    <div class="sorting__inner">
                                        <div class="sorting__item col-lg-12">
                                            <span class="sorting__title">Select Service</span><br />
                                            <div class="select jelect">
                                                <input ng-model="service" type="text" id="txtServiceName" class="jelect-input">
                                                <div tabindex="0" role="button" class="jelect-current" id="cityDropDown">Select Service</div>
                                                <ul class="jelect-options" id="dropDownCity">
                                                    <li class="jelect-option jelect-option_state_active">Select Service</li>
                                                    <li class="jelect-option">Lite Car Care</li>
                                                    <li class="jelect-option">Essential Car Care</li>
                                                    <li class="jelect-option">Comprehensive Car Care</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sorting__item col-lg-12">
                                            <span class="sorting__title">Select Type</span><br />
                                            <div class="select jelect">
                                                <input ng-model="centreDetails.type" type="text" id="txtType" class="jelect-input">
                                                <div tabindex="0" role="button" class="jelect-current" id="cityDropDown">Select Type</div>
                                                <ul class="jelect-options" id="dropDownType">
                                                    <li class="jelect-option jelect-option_state_active">Select Type</li>
                                                    <li class="jelect-option">Petrol</li>
                                                    <li class="jelect-option">Diesel</li>
                                                    <li class="jelect-option">CNG</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!--<div class="form-group col-lg-6">-->
                                    <label for="price">Milemates Price </label>
                                    <input class="form-control" id="price" name="price" type="text" ng-model="centreDetails.MilematePrice" />
                                    <label for="ActualPrice"> Actual Price </label>
                                    <input class="form-control" id="ActualPrice" name="ActualPrice" type="text" ng-model="centreDetails.ActualPrice" />
                                    <label for="ServiceCentrePrice"> Service Centre Price </label>
                                    <input class="form-control" id="ServiceCentrePrice" name="ServiceCentrePrice" type="text" ng-model="centreDetails.ServiceCentrePrice"/>
                                    <label for="Email"> Radius </label>
                                        <input class="form-control" id="Radius" name="Radius" placeholder="Radius" type="text" ng-model="radius" />
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6">
                        <div class="car-selection-container">
                            <span class="car-selection-step-name">
                                YOUR have Selected MODEL
                            </span>
                            <div class="car-selection-flex">
                                <ul class="car-selection-flex-column">
                                    <li ng-click="selectModel(model)" ng-repeat="model in modelList">{{model}}</li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-12 col-md-offset-2 pull-right">
                        <a class="main-slider__btn btn-effect" ng-click="addCentreDetails()">
                            <span class="main-slider__btn_inner common-button-structure-inner"><i class="fa fa-chevron-left" style="padding-right: 5px;"></i>Add Details</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

        </div>
    </div>
</div>
<div id="centreAddressOverlay" class="modal fade" role="dialog" style="z-index:2000">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please select your address</h4>
            </div>
            <div class="modal-body collapse-content" id="container">
                <div style="position:absolute;z-index:1; width: 85%;">
                    <i class="fa fa-search" style="position:absolute;padding:5px;top:5px"></i>
                    <input class="form-control" style="padding:0 20px" id="centre_formatted_address" placeholder="Start typing your address" type="text" ng-model="centreDetails.formattedAddress" />
                </div>
                <div id="centreAddressMap" class="address-map" style="height:400px;"></div>
            </div>
            <div class="modal-footer" style="margin-top: 20px;">
                <div style="text-align: left; display: block;">
                    <div style="display: inline-block; float: right;">
                        <button type="button" class="btn btn-primary btn-effect" data-dismiss="modal" ng-click="selectLocation();">Select </button>
                        <button type="button" class="btn btn-primary btn-effect" data-dismiss="modal">cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
