<div id="wrapper">
    <div class="block-title">
        <div class="block-title__inner section-bg section-bg_second">
            <div class="bg-inner">
                <div class="decor-1-header center-block"></div>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Success</li>
                </ol>
            </div><!-- end bg-inner -->
        </div><!-- end block-title__inner -->
    </div><!-- end block-title -->

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" style="margin-bottom:30px;">
            <div class="car-header">
                <div style="text-align: center;">
                    <h1><i class="fa fa-flag-checkered" aria-hidden="true" style="color:lightgreen; font-size: 50px;"></i></h1>
                    <h1><span>Thank You.</span></h1>
                    <h2><span>Your order was completed successfully.</span></h2>
                    <h3>
                        <button type="button" ng-click="go('/')" class="btn btn-primary btn-effect">Back to Home</button>                       
                    </h3>
                    <div style="margin-top: 20px;">
                        <h3><span>Order Id: #{{orderDetails.invoiceNo}}</span></h3>
                            <img src="../../assets/img/thankyou.png" />
                    </div>
                    <div style="margin-bottom: 100px;">
                            <h3>
                                You can visit My Appointments page at any time to check the status of your order.
                            </h3>
                        <div class="col-xs-2 col-xs-offset-5">
                            <button type="button" class="btn btn-primary btn-effect" ng-click="go('/Dashboard')">View Order</button>
                        </div>
                             
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
