<oauth2.login.configuration>
  <web acceptedRedirectUrl="~/home/succes" failedRedirectUrl="~/home/error"/>
  <oauth>
    
    <add name="Google" type="Oauth2Login.Client.GoogleClient, Oauth2Login"
         clientid="1095792391040.apps.googleusercontent.com"
         clientsecret="LsRFXXHr7T26npBJCBAqvjDi"
         callbackUrl="http://github.org/home/succes"
         proxy="192.168.0.3:12345"
         scope="https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile"/>
    
    <add name="Facebook" type="Oauth2Login.Client.FacebookClient, Oauth2Login"
         clientid="220436004955870"
         clientsecret="9cb2ca154f20d25f3e488694a4f4dec8"
         callbackUrl="http://localhost:28950/Home/Shobhit"
         proxy="192.168.0.3:12345"
         scope="user_about_me,email,user_photos"/>
    
    <add name="WindowsLive" type="Oauth2Login.Client.WindowsLiveClient, Oauth2Login"
         clientid="00000000480C9FBC"
         clientsecret="hpxlhyxtmABNXFo5qxuAV6pOfZdsyeZF"
         callbackUrl="http://github.org/home/succes"
         proxy=""
         scope="wl.basic,wl.emails"/>
    
    <add name="PayPal" type="Oauth2Login.Client.PayPalClient, Oauth2Login"
         clientid="AcC2wBD5FPwxscAon02NAgG5lqZYHFtooc3uO0wevS457NPXmCs3jRpBGpPs"
         clientsecret="ENGDvxAjFRORiCel09c-La25ZEU50VEdF-dwOV6Z2mPui_YS41SOTlDmi2Sw"
         callbackUrl="http://github.org/home/succe"
         proxy=""
         scope="openid profile email address phone https://uri.paypal.com/services/paypalattributes https://uri.paypal.com/services/expresscheckout"/>
    
  </oauth>
</oauth2.login.configuration>